[2016-03-09 15:48] iamwithnail commented on #490
Thanks for that answer @Eraldo , just helped me out of a long-standing jam.  Having come recently to the cookie-cutter world, the usage of the env.example/.env file isn't obvious, particularly for those of us that haven't worked up to Docker yet - expanding the explanation would be really helpful.

[2016-03-13 20:47] mimischi opened #500 "Multiple apps per host"
How is one supposed to use [nginx-proxy](https://github.com/jwilder/nginx-proxy), as described in the [documentary](http://cookiecutter-django.readthedocs.org/en/latest/deployment-with-docker.html#deployment-with-docker) to serve multiple apps from one host?

Deleting the "ports:" line from docker-compose.yml and running nginx-proxy does not work. Do I need to completely replace the nginx service

[2016-03-13 20:51] pydanny commented on #500
Yes, the documentation there is lacking. That's why we prefix it with "TODO: Review and revise". We apologize, but as unpaid volunteers we just haven't gotten to finishing this section yet.

If you manage to figure this out on your own, please consider opening a pull request.

[2016-03-13 20:51] #500 closed

[2016-03-15 17:03] keybits opened #501 "Best way to upgrade a project started with an older version of cookiecutter-django?"
I have a project that I started with an older version of cookiecutter-django.

What's the best way to upgrade it so it uses the latest version of everything specified here? (So I'd get updated requirements files and all other latest cookiecutter-django features.)

[2016-03-15 17:35] nfletton commented on #501
I can't say this is the best way, but in the past when I've done this I've created a new  cookie cutter project with the same names as the existing project in a temporary directory. Then I've used a visual diff tool to merge in the differences that I'm interested in.

[2016-03-15 22:20] drxos opened #502 "How deploy cookiecutter-django with dokku"
I want to deploy cookiecutter-django with dokku. Do you have a doc about that job ?

[2016-03-15 22:51] pydanny commented on #502
Apologies, but we've decided to just focus on Docker and Heroku support. The core maintainers just don't have the bandwidth to review pull requests for other deployment methods.

If you do figure it out and want to maintain your own fork, let us know and we'll link to it.

[2016-03-15 22:51] #502 closed

[2016-03-16 07:54] drxos commented on #502
Ok. It's very clear.

[2016-03-16 19:11] #483 closed

[2016-03-16 19:13] #407 closed

[2016-03-16 19:17] jayfk commented on #365
This should be working now.

[2016-03-16 19:17] #365 closed

[2016-03-16 19:18] jayfk commented on #312
we have that now :)

[2016-03-16 19:18] #312 closed

[2016-03-16 19:21] jayfk commented on #254
fixed in #496

[2016-03-16 19:21] #254 closed

[2016-03-17 03:08] augustinex80 opened #504 "Use xadmin"
How can I use xadmin instead of admin default.
the detail in <proj>/users/admin.py
Thank you.

[2016-03-17 04:29] pydanny commented on #504
You can find instructions for that on the xadmin README at https://github.com/sshwsfc/django-xadmin/blob/master/README.rst

[2016-03-17 04:29] #504 closed

[2016-03-17 06:53] keybits commented on #501
Thanks for the reply. That sounds like a reasonable approach in the absence of any automated solution. I guess a `pip list --outdated` and some manual updating, followed by running some tests will help too.

[2016-03-17 06:53] #501 closed

[2016-03-17 20:12] Newton715 commented on #439
@jayfk @pydanny  The new Version 2 of the docker-compose file enables you to specify a context for the build.  I was able to move all the docker files into a folder.  The Django portion of my compose file looked something like this:
[code]

Nothing had to be edited inside of the Dockerfile.

[2016-03-19 12:17] jayfk commented on #439
@Newton715 The problem is that docker-compose will take the new folder as a project name. Looks like `1.7.0` will give us more options in this regard https://github.com/docker/compose/issues/745

[2016-03-20 22:50] hackebrot opened #505 "FYI pytest-cookies requires update"
Hi friends,

with Cookiecutter v1.4.0 out, pytest-cookies requires a new release. JSON user configs are no longer supported by Cookiecutter, which pytest-cookies uses to create an isolated environment.

Cheers
Raphael :bow:

[2016-03-20 23:12] hackebrot commented on #505
Latest **master** of pytest-cookies (a91d1044bf95eff4ca7e028ac5a279a7daaeec47) should be fine. I'll release to PyPI in the next couple of days.

[2016-03-23 18:43] noisy opened #508 "install_python_dependencies.sh refer to python3 even if use_python2 was set to y"
source: https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.repo_name%7D%7D/install_python_dependencies.sh#L24

[2016-03-23 18:46] noisy commented on #474
:+1: for `use_heroku` and `use_docker`.

[2016-03-23 20:15] yunti commented on #476
Yes this would be very good to have as an option. Tooling probably varies the most at the moment and it would be to have this optional to cover a wider range of options. Particularly as having ruby and node included that is a lot of unnecessary  requirements that wouldn't be needed by many.

[2016-03-23 20:46] luzfcb commented on #508
@noisy thanks to report.

fixed in 3d3ec182d7f730b8cc4760b7d4cc70ed01a1a36a

[2016-03-23 20:46] #508 closed

[2016-03-25 11:46] jayfk opened #509 "Generating secret keys w/o sysrandom will always fail"
We are using Django's `get_random_string` implementation in `post_gen_project.py`.

If sysrandom can't be imported the function will always fail since the if clause relies on the `settings.SECRET_KEY` to be set, see https://github.com/pydanny/cookiecutter-django/blob/master/hooks/post_gen_project.py#L42-L55

[2016-03-28 04:10] theskumar commented on #476
Yes. Grunt should be optional.

[2016-03-28 04:17] theskumar commented on #509
The secret key is set only for the local.py, and it must be set by user while running the project using production settings. It makes sense to simplify the secret key generation.

[2016-03-28 18:40] hackebrot commented on #505
A new release is now on PyPI https://pypi.python.org/pypi/pytest-cookies

[2016-03-28 18:40] #505 closed

[2016-03-28 20:07] luzfcb commented on #505
@hackebrot good. Thank again. :-)

[2016-03-31 09:59] sakhmedbayev opened #510 "Cannot install cookiecutter-django with docker on Windows 10"
I tried to follow [this post](https://realpython.com/blog/python/development-and-deployment-of-cookiecutter-django-via-docker/) to install cookiecutter-django with docker on windows.

"docker-compose ps" shows that two containers are running as follow:

test_django_1  Exit 2 (State)
test_postgres_1 Up (State)

As you can see the state for first container is "Exit 2". I consulted with other folks,

[2016-03-31 14:26] jayfk commented on #510
Your project directory is probably not visible to the virtual machine running your docker deamon, see #414

[2016-04-01 13:41] sakhmedbayev commented on #328
I have same problem running docker on windows machine. I am getting error

 `mkdir /data: file exists`

[2016-04-01 17:19] sakhmedbayev opened #512 "Installation instruction for Ubuntu needed"
First of all, let me thank authors and contributors of this project. It seems that you are doing a lot to make life easier for people like me, who are newbie to django.

I have tried to install cookiecutter-django with docker on windows machine, so far no luck. Now, I want to try to run it on Ubuntu VM, but have hard time to understand how to do that.

Can anyone please put together an instruction

[2016-04-01 18:50] luzfcb commented on #512
if you are django newbie, this project probably is not the best place to start learn django because he expects you already have a minimum knowledge about how django works, and because the generated project layout is highly opinionated and differs from the project layout generated by `manage.py startproject `
( note that this is not a problem, since Django is just Python with some conventions. ther

[2016-04-02 04:43] sakhmedbayev commented on #512
Thank you luzfcb! I appreciate your answer. I have already gone through djangoproject documentation and took some django training.

The reason why I want to start from cookiecutter is that I found a link to it in "Two Scoops of Django" book, which is considered to be a guide for the best practice in using Django. So, I want to start my Django exploration in the right way :-) Why not?

It seems tha

[2016-04-02 04:59] pydanny commented on #512
Hi @sakhmedbayev, I'm glad you are using my book. And I'm happy you are using cookiecutter-django. Some things you should know:

1. Cookiecutter is not installed with Docker.
2. Cookiecutter != cookiecutter-django
2. cookiecutter-django provides some Docker setup that is documented in the link @fabio provided. Did you look at that link?
4. If that link doesn't explain it well enough, then on behal

[2016-04-02 06:49] sakhmedbayev commented on #512
Thank you @pydanny for your answer and for your awesome book! Sorry for being not precise enough in my writing, I am aware that Cookiecutter != cookiecutter-django.

I have tried to follow several guides for how to install cookiecutter-django with docker. Here they are

[Number one](https://realpython.com/blog/python/development-and-deployment-of-cookiecutter-django-via-docker/)

[Number two](http

[2016-04-02 11:20] MathijsHoogland commented on #328
I eventually solved it by creating the directory in the machine:
`mkdir /mnt/sda1/data`

[2016-04-04 11:41] sakhmedbayev commented on #356
Hi @cepinos ! Can you please tell community, how you managed to install cookiecutter-django with docker on ubuntu. I have been trying to make it work for several days. No luck so far :-(

[2016-04-04 17:54] clairedemars1 opened #514 "bootstrap .form-horizontal incompatible with v4 of bootstrap style sheet"
This relies on the development version of bootstrap's style sheet, v4-dev.
Evidence:  if I switch to version 3.3.6, the header in the base template messes up.

However, v4-dev has a bug that makes it not work with bootstrap's form-horizontal class.
Evidence: I used form-horizontal in my code, and it works with version 3.3.6 of the style sheet, but not v4-dev.

There's probably nothing we can do no

[2016-04-04 21:29] jayfk commented on #512
I know it's frustrating, but instead of following multiple (possible incompatible) tutorials, I'd suggest to debug the problem and become more familiar with docker along the way.

What's the output of

   docker -v
   docker-compose -v
   cat dev.yml (you need to be in your project directory)
   docker run -v ./:/app ls -la /app (you need to be in your project directory)

[2016-04-04 22:25] mjsisley opened #515 "Using Django-Debug-Toolbar and ipdb in Docker (and with bootstrap 4)"
I had issues running django-debug-toolbar and ipdb in docker out of the box.

In order to use django-debug-toolbar in Docker I needed to add code at https://gist.github.com/douglasmiranda/9de51aaba14543851ca3 to local.py. I did not have success adding to INTERNAL_IPS. There may be a better solution.

In order to have the django-debug-toobar display with bootstrap 4, I need to override the hidden p

[2016-04-05 04:52] sakhmedbayev commented on #512
Thank you @jayfk ! I finally managed to install cookiecutter-django on ubuntu with docker using Number three guide in my list above. I do not know exactly what caused the problem, but when uninstalled ubuntu 15:10 and installed ubuntu 14:10 everything went pretty smoothly.

[2016-04-06 06:10] mgargenta commented on #355
Have we resolved setting up MailGun with Heroku? I'm still having issues - the app can't send any emails.

I did verify that DJANGO_MAILGUN_API_KEY and DJANGO_MAILGUN_API_KEY and correct - and have tested sending emails from https://mailgun.com/app/dashboard for that domain. However, those setting do not work on Heroku in production.

Setting `EMAIL_BACKEND = env('DJANGO_EMAIL_BACKEND', default='d

[2016-04-07 19:20] obswork commented on #328
Can confirm @MathijsHoogland 's solution worked for me on OSX

[2016-04-08 06:16] #512 closed

[2016-04-08 06:17] #510 closed

[2016-04-09 15:48] scuerda commented on #328
I haven't had any additional issues since moving from boot2docker to docker-toolbox. It seems that docker-toolbox made underlying changes.

[2016-04-10 04:30] sakhmedbayev commented on #328
@scuerda, are you on windows or OSX?

[2016-04-12 09:49] jayfk commented on #515
If you are running docker with docker-toolbox on a Mac/Windows machine, you need to set the virtual box bridge IP. By default that's `192.168.99.1`.

[2016-04-15 20:47] pckapps commented on #280
Any update on this yet? Can I go ahead and replace djangosecure.middleware.SecurityMiddleware with django.middleware.security.SecurityMiddleware in my production file? Can I leave the other settings as is? On the securesecure site it says: _this project is now unsupported and un-maintained_ so I'm guessing the correct way forward is removing it.

[2016-04-16 02:41] theskumar commented on #280
Yes,  you can replace django-secure with the Django module.

[2016-04-16 06:59] pckapps commented on #280
Thanks, that removes some of the warnings with check --deploy, but I'm still getting other warnings. Not sure if there is a reason for these settings? If not, I think it should be changed. These are the warnings I'm getting (shortened):

- (security.W012) SESSION_COOKIE_SECURE is not set to True.
- (security.W016) You have 'django.middleware.csrf.CsrfViewMiddleware' in your MIDDLEWARE_CLASSES, but

[2016-04-16 10:29] phiberjenz opened #523 "Error when trying to create a Remote Python Interpreter in PyCharm 2016.1"
Hi,

Following docs/pycharm/configuration.rst i get an error message when trying to create a Remote Python Interpreter based on Docker Compose in PyCharm.

![skarmklipp 2016-04-16 12 27 52](https://cloud.githubusercontent.com/assets/4190625/14580487/b11cc896-03ce-11e6-8089-bea19a013545.png)
![skarmklipp 2016-04-16 12 27 45](https://cloud.githubusercontent.com/assets/4190625/14580488/b2969ecc-03ce-

[2016-04-17 06:46] pydanny opened #524 "Change the formal name to Cookiecutter Django"
As can be seen in acc6b9f168ed283376706b8abec997c47811d39d, I have begun changing the formal name of this project to `Cookiecutter Django`.

[2016-04-17 09:40] phiberjenz commented on #523
Did some digging. Apparently it seems that named volumes doesn't play well with PyCharm 2016.1. Removing them and going back to previous version of dev.yml fixes the problem.

[2016-04-17 09:40] #523 closed

[2016-04-17 11:52] luzfcb commented on #523
@phiberjenz you try Pycharm 2016.1.2?

http://blog.jetbrains.com/pycharm/2016/04/announcing-pycharm-2016-1-2/

[2016-04-17 17:19] pydanny opened #526 "Set up auto-generated Sphinx API docs"
We should be autogenerating the Sphinx API docs for `users.User`, `taskapp`, and every other similar area.

[2016-04-19 08:37] bodgerbarnett opened #527 "bower install"
How do I use bower install on Docker with cookie cutter django?

[2016-04-19 16:27] audreyr commented on #527
Cookiecutter Django doesn't support Bower out of the box.

However, there is a package.json file, from which you can optionally `npm install` the NPM dependencies if you wish.

[2016-04-19 16:27] #527 closed

[2016-04-20 19:03] pydanny commented on #509
Since we aren't using Django's `get_random_string` anymore, I'm closing this issue.

[2016-04-20 19:03] #509 closed

[2016-04-20 19:08] pydanny commented on #186
I think most of this has been implemented now. Anyone mind if I close this issue?

[2016-04-20 21:03] patvdleer opened #528 "cookiecutter fails on jinja2.exceptions.TemplateSyntaxError"
[code]

[code]

[2016-04-20 23:23] luzfcb commented on #528
please, update the cookiecutter to version 1.4.0 and try again. if that resolves the problem, please close this issue.

[code]

This project now requires cookiecutter version> = 1.4

This problem occurred because of this commit: https://github.com/pydanny/cookiecutter-django/commit/f4cf5df53e57acb338ee9c9aca24d58709dbcfb7

The cookiecutter> = 1.4, now includes by default the [jinja2-time](https://

[2016-04-21 00:06] luzfcb commented on #186
I still like to find a less complicated way to test in travis-ci (or other ci) the django application with all generation possibilities. perhaps docker in travis-ci help it.

[2016-04-21 04:53] pydanny opened #529 "Validate all major features work everywhere"
Every major feature needs to work in the following areas:

*. Ubuntu Linux
*. OSX
*. Windows (Redis doesn't work perfectly in Windows, am looking into ramifications)

Every major feature needs to work with the following versions of Python:

* Python 2.7.x
* Python 3.5.x

Features to validate:

* [x] For Django 1.9
* [x] Renders Django projects with 100% starting test coverage
* [x] Twitter Bootstr

[2016-04-21 04:54] pydanny commented on #529
If you can validate one or more of these items, please say so in the comments. I'll update the checklist.

[2016-04-21 04:56] #307 closed

[2016-04-21 06:35] burhan commented on #529
Regarding Redis, it is stated plainly on `redis.com/download`:

I would like to recommend moving Redis to a container and exposing the port. If the user prefers not to use docker for development, redis would still be available at the normal redis port for them.

I see one major issue with this approach - it requires a hard dependency on docker being installed on the client machine.

[2016-04-21 07:03] jayfk commented on #529
Redis isn't a hard requirement for the development environment. We are using `LocMemCache` as a cache there.

[2016-04-21 07:09] burhan commented on #476
Why not replace it with a Python task runner?

[2016-04-21 07:13] burhan commented on #431
I have a fourth option:

4. Encourage contributors to submit pull requests for links to a community supported fork for OS-specific flavors. I can see this being useful for other Linux distributions (and of course, Windows). If we do this we have to come up with some guidelines to ensure compatibility with the core version of the django cookiecutter.

[2016-04-21 08:19] patvdleer commented on #528
Thanks! this fixes the issue!

[2016-04-21 08:19] #528 closed

[2016-04-21 08:31] mimischi commented on #529
Hitch does not work on Windows: https://hitchtest.readthedocs.org/en/latest/misc/tested_on.html#not-working-on

[2016-04-21 09:00] crdoconnor commented on #529
+1 mimischi. Unfortunately there are many features it uses which aren't really possible to replicate on windows without a compatibility layer - for example, pyenv, libfaketime, along with a whole lot of code that would need to be heavily rewritten (unixpackage, the service handler).

It works inside docker (I've tested this on a debian image) and would probably work on the new 'bash for windows' t

[2016-04-22 02:11] pydanny opened #531 "Need alternative for django-mailgun"
See https://github.com/BradWhittington/django-mailgun/issues/38

For what it's worth, in the past I tried to contact mailgun, but to no avail. I did it via connections as well as publicly. They don't seem to want to talk about providing support for Django. I'll try again, but I don't have my hopes up.

In the meantime, let's consider alternatives.

[2016-04-22 02:20] djch commented on #531
For what it's worth, I started a new cookie cutter project the other day with Postmark, which is working well on a heroku-free-tier-addon.

* http://postmarkapp.com
* https://github.com/themartorana/python-postmark (this is not official and I dunno how well maintained it is honestly)
* https://devcenter.heroku.com/articles/postmark

I'm big fan of Wildbit.

[2016-04-22 09:44] crdoconnor commented on #531
I've used sendgrid, which is okay and seems to be maintained: https://github.com/sendgrid/sendgrid-python/

However, I still don't really like using a library because it couples your application to a single transactional email provider. There's sometimes some value in the additional features this provides (e.g. to get some tracking features), but it makes it much to move providers.

This is especi

[2016-04-22 14:22] pydanny commented on #531
Mailgun might be stepping up to correct the issue. I know @sigmavirus24 so I'm quite hopeful: https://github.com/BradWhittington/django-mailgun/issues/38#issuecomment-213226646

@djch, if mailgun doesn't work out, we'll check out Postmark.

@crdoconnor, we moved off of sendgrid, moving back is not an option. As for using a library, that's easier on us than having users set up Postfix in a containe

[2016-04-22 14:32] niklasae commented on #531
It might be worth keeping an eye on
https://github.com/anymail/django-anymail. It's based on the awesome Djrill
library, but supports a host of different providers.

On Fri, 22 Apr 2016 16:22 Daniel Roy Greenfeld, <notifications@github.com>
wrote:

[2016-04-22 16:26] jayfk commented on #531
I don't get the point of `django-anymail`.

It's super easy to swap out django's mail backend. Why would you need a meta package to do that for you?

[2016-04-22 17:18] pydanny commented on #531
@jayfk I think `django-anymail` is interesting because it provides a number of backends, not just one. It also appears to be pretty well supported.

[2016-04-24 16:02] nitin42 commented on #6
Cloning into 'cookiecutter-django'...
remote: Counting objects: 5752, done.
remote: Total 5752 (delta 0), reused 0 (delta 0), pack-reused 5751
Receiving objects: 100% (5752/5752), 2.46 MiB | 134.00 KiB/s, done.
Resolving deltas: 100% (3638/3638), done.
Checking connectivity... done.
project_name [project_name]: icecreamratings
repo_name [icecreamratings]: icecreamratings_project
author_name [Your

[2016-04-24 16:04] pydanny commented on #6
Update your version of Cookiecutter.

[2016-04-24 16:08] pydanny commented on #236
@hjwp :Bell:

[2016-04-24 17:45] nitin42 commented on #6
Fixed. Thanks a lot!

[2016-04-24 19:23] hjwp commented on #236
Oops, what's the emoji for dropping a ball? Will ping in an update next
week.

On Sun, 24 Apr 2016 17:09 Daniel Roy Greenfeld, <notifications@github.com>
wrote:

[2016-04-25 12:31] burhan commented on #529
I have the Linux runtime on my development machine; but even if it works
its not a solution until Microsoft rolls it out officially (right now, its
only available on the developer channel; which means you are dealing with
untested builds of Windows).

I'll give it a try this weekend and see what breaks.

On Thu, Apr 21, 2016 at 12:00 PM crdoconnor <notifications@github.com>
wrote:

[2016-04-25 12:47] crdoconnor commented on #529
I have a dockerized version tested and running happily, although it requires an X server (e.g. cygwin/x). I can probably automate the set up of these things via powershell, though, so it's (relatively) seamless for a windows user.

[2016-04-25 16:42] hjwp commented on #236
https://github.com/pydanny/cookiecutter-django/pull/532 :) :runner: :soccer:

[2016-04-25 20:50] jayfk commented on #186
I'd really like to have some unit tests for this cookiecutter.

I don't have the time to implement this right now on upstream, but I've been working on a small unit test class that makes it super easy to test small fragments.

The `CookiecutterTest` class provides a dictionary of all generated project files accessible by file name and the `context` that is used to render the templates
[code]

An e

[2016-04-26 06:12] pydanny commented on #529
Removed Hitch in 5517bdd.

[2016-04-26 06:21] audreyr commented on #529
Checked off django-environ, which works everywhere.

[2016-04-26 12:24] burhan commented on #529
Is there a Hitch equivalent that we can evaluate?

[2016-04-26 14:14] nitin42 commented on #6
(ENV) nitin@nitin-Satellite-Pro-B40-A:~/ENV/site$ python manage.py migrate
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/home/nitin/ENV/local/lib/python2.7/site-packages/django/core/management/__init__.py", line 338, in execute_from_command_line
    utility.execute()
  File "/home/nitin/ENV/local/lib/python2.7/site-pack

[2016-04-26 14:30] luzfcb commented on #6
this error happened because you probably do not install all dependencies in virtualenv. more specifically, are missing install django-environ package.

to be more practical and make sure everything is installed, install all dependencies in virtualenv. First, load your virtualenv, and inside the project root path, run:

[code]

ps .: Make sure you have previously installed all non-Python dependenci

[2016-04-26 17:41] nitin42 commented on #6
(ENV) nitin@nitin-Satellite-Pro-B40-A:~/ENV/mysite$ pip install -r requirements/production.txt
Requirement already satisfied (use --upgrade to upgrade): wheel==0.29.0 in /home/nitin/ENV/lib/python2.7/site-packages (from -r requirements/base.txt (line 5))
Collecting django==1.9.5 (from -r requirements/base.txt (line 8))
  Using cached Django-1.9.5-py2.py3-none-any.whl
Collecting django-environ==0.4

[2016-04-26 17:47] pydanny commented on #6
1. Please don't hijack old issues for new problems.
2 This isn't a bug or a feature request. Please submit to Stack Overflow, where the answers to your problems will be more easily found by those who follow in your footsteps.

[2016-04-27 04:50] #236 closed

[2016-04-27 14:30] ChillarAnand opened #533 "rest framework as optional dependency?"
It would be great if rest-framework can be added as an optional dependency.

[2016-04-27 16:04] pydanny commented on #533
I love DRF but I lean against it. It's pretty trivial to set it up yourself.

[2016-04-28 04:45] #533 closed

[2016-04-28 17:29] rookiec14 commented on #431
option 3

[2016-04-28 21:30] yunti commented on #529
I understand the reason to have all major features working on all platforms, which is a good idea, but it's definitely disappointing to see Hitch removed so quickly as it's definitely a very useful feature, which I would be keen to keep in if possible.  With Docker's new 'native' implementation on windows if hitch could work under that for now would that be sufficient until Microsoft rolls out the

[2016-04-28 23:26] pydanny commented on #529
@burhan @yunti The reason why I removed Hitch is because:

1. Doesn't work on Windows (https://hitchtest.readthedocs.org/en/latest/misc/tested_on.html#not-working-on)
2. Doesn't work on El Capitain (https://github.com/hitchtest/hitch/issues/28)
3. When I tried to get Hitch running on my Mac (`hitch init), it ran homebrew over my existing packages (took me a couple hours to fix, and I'm arguably a

[2016-04-28 23:27] pydanny commented on #529
In regards to Redis, I believe developers on Windows can use pure-memory options for those things when working locally.

[2016-04-29 08:27] hackebrot opened #534 "Version check in pre gen hook is not being run"
Hi,

this is a follow-up to our gitter conversation about the version check that @pydanny added recently.

Unfortunately **pre_gen_project** hooks in **Cookiecutter** are being run after the context is fully populated. This template uses ``now`` in one of the context variables and hence breaks for Cookiecutter older than 1.4.0.

[code]

[code]

[2016-04-29 16:50] Newton715 opened #535 ".idea directory missing with Pycharm enabled"
The pycharm .idea directory has gone missing with commit a783828 on April 25.

[2016-04-29 22:53] pydanny commented on #534
After reflecting on it, and trying it myself, you are correct. Yet the number of requests for help is dropping. Here are some thoughts/ideas:

1. In Cookiecutter core, add a `_cookiecutter_version` setting in `cookiecutter.json` that specifies the minimum Cookiecutter version
2. Don't worry about it. The number of help requests for this is rapidly dropping. Maybe this isn't a big deal afterall.

[2016-04-29 23:23] hackebrot commented on #534
I was hoping to have a ``requirements`` field in the new ``context`` format, if any of the declared dependencies is missing, exit gracefully without generating the project.

No, it's definitely not a big problem (I never get any emails. Doubt anyone knows I'm working on Cookiecutter 😉 )

[2016-05-01 05:29] pydanny commented on #243
Closing this. Reopen if it needs to stay open.

[2016-05-01 05:29] #243 closed

[2016-05-01 13:08] crdoconnor commented on #529
@pydanny:

2. It does work on El Capitan (I use it fairly regularly at work on El Capitan these days). @mimischi's issue appears to be a bug in virtualenv that appeared on which prevents non-broken python3 virtualenvs from being created. See the ticket for details.

3. I'm sorry for your poor experience. I honestly had no idea there were Mac users who explicitly wanted to keep specific packages fr

[2016-05-01 20:53] benjaoming commented on #535
I still see it in current master, referred commit doesn't seem to affect it!?

[2016-05-01 22:21] phiberjenz commented on #523
I will try it tomorrow!

[2016-05-01 22:37] Newton715 commented on #535
Maybe I'm missing something but between commits fee825e and a783828 I don't see /{{cookiecutter.project_slug}}/.idea

<img width="1020" alt="screen shot 2016-05-01 at 3 15 19 pm" src="https://cloud.githubusercontent.com/assets/3343995/14944692/4d33550a-0fb0-11e6-90ec-dfc481cefaec.png">

<img width="1027" alt="screen shot 2016-05-01 at 3 23 59 pm" src="https://cloud.githubusercontent.com/assets/334

[2016-05-01 22:48] luzfcb commented on #535
@Newton715 after a short investigation, the settings were mistakenly removed in 15f350f0

[2016-05-01 23:57] luzfcb commented on #535
@Newton715 please, test the branch "restore-idea-directory" and make sure everything works as expected.

first, make sure the cookiecutter version is >= 1.4

[code]

after:

[code]
generate the project
[code]

pr: https://github.com/pydanny/cookiecutter-django/pull/537

[2016-05-02 04:04] Newton715 commented on #535
@luzfcb Tested it out.  .idea directory was created and docker tests ran in pycharm without an issue.

[2016-05-02 10:02] benjaoming commented on #535
Disregard my comment then, I thought `.idea` folders were something *not* to have in a repo :)

[2016-05-02 12:24] luzfcb commented on #535
fixed in https://github.com/pydanny/cookiecutter-django/pull/537

[2016-05-02 12:24] #535 closed

[2016-05-02 13:43] luzfcb commented on #535
@Newton715 thanks.

[2016-05-02 18:48] jayfk commented on #534
You don't have them enabled in your GitHub profile (wise choice btw).

[2016-05-02 18:50] jayfk commented on #531
@pydanny after reading a bit of the code `django-anymail` is using, I'm in favor of switching.

The code is well documented and a pleasure to read!

[2016-05-02 18:52] jayfk commented on #531
Any reason not to switch @medmunds?

[2016-05-02 18:53] jayfk commented on #529
I can confirm docker on linux and Mac OS X. I haven't tried windows for a while, but thanks to @burhan this should work now, too.

[2016-05-02 18:54] hackebrot commented on #534
@jayfk, I do get github notifications for https://github.com/audreyr/cookiecutter. But I'm not on the collaborator team for **cookiecutter-django**, where it seems to be more common for people to ask questions and report issues.

I rarely get any emails to my personal email address though.

[2016-05-02 19:04] jayfk commented on #534
Yeah, I know.

I think @pydanny was referring to personal emails he gets to the address listed on his GitHub profile (not notifications). That's why I mentioned it.

I'll make sure to keep an eye on that and point people in the right direction when I see something like that.

[2016-05-02 19:06] jayfk commented on #466
Is someone working on this? I'd be happy to assist if there are any problems.

[2016-05-02 19:07] jayfk commented on #439
I'm closing this since most of this has been fixed in #516

[2016-05-02 19:07] #439 closed

[2016-05-02 19:08] jayfk commented on #474
These are now optional :)

[2016-05-02 19:08] #474 closed

[2016-05-02 19:09] jayfk commented on #308
Addressed in #516

[2016-05-02 19:09] #308 closed

[2016-05-02 19:32] hackebrot commented on #534
Right. I'd personally not respond to emails when there's a GitHub issue tracker and a Gitter room.

We are volunteers and there's no point in solving problems multiple times, so anything that helps users from the community should be discussed in the public, IMHO.

[2016-05-03 06:16] pydanny opened #538 "Add Webpack as an Option"
I've been interested in it as a way to maintain resources. And this is an AWESOME approach: https://github.com/hzdg/cookiecutter-webpack

Integrating it into Cookiecutter Django would be easy: https://github.com/hzdg/cookiecutter-webpack#integrating-into-existing-projects

[2016-05-03 07:04] pydanny commented on #466
@jayfk Not directly on it, but this mayl simplify integration: https://github.com/pydanny/cookiecutter-django/issues/538

[2016-05-03 16:04] medmunds commented on #531
@jayfk Anymail is still pretty young (and still marked "pre-alpha" in PyPI), but it benefits from a lot of lessons learned from years with Djrill.

Basic sending functionality is stable, and I don't anticipate much (or any) churn around extensions like tagging and metadata. Event-tracking webhooks just went in, so might need some tweaks after real-world use. And a few other major features are stil

[2016-05-04 01:15] pydanny commented on #531
I've decided that we'll move over to @medmunds's django-anymail. Here are some reasons:

1. Means Cookiecutter Django is much more mailhost agnostic. We can put in a default of mailgun, and over time we can support other options thanks to Cookiecutter's list item selection mechanism.
2. django-anymail, early stages or not, is being actively maintained. If Cookiecutter Django supports it, then the

[2016-05-04 01:15] #531 closed

[2016-05-04 07:15] pydanny opened #539 "Switch to django-anymail with mailgun as the default"
django-anymail led by @med is the ideal solution to our needs. Yes, it is bleeding edge, but we like that kind of thing. Especially as it is consistently maintained and has tests.

As much as I would like to do the work for this enhancement, in this case deferring to those with more expertise is the right thing to do. To summarize, we're open for pull requests! 😄

🔔  @medmunds @jayfk

Reference ti

[2016-05-05 09:11] yunti commented on #538
That is very very nice, good find.

[2016-05-06 00:10] audreyr commented on #490
If anyone wants to add this to the documentation, we'd love a pull request 😄

[2016-05-07 23:37] bhops commented on #523
I'm experiencing the same issue on PyCharm 2016.1.2.

[2016-05-07 23:56] luzfcb commented on #523
perhaps, Pycharm 2016.1.3 RC fix problems !?
http://blog.jetbrains.com/pycharm/2016/04/pycharm-2016-1-3-rc-is-available/

[2016-05-08 04:06] bhops commented on #523
@luzfcb That worked. Thanks!

[2016-05-08 06:39] pydanny commented on #476
Yes, would love to have grunt made an option. Especially considering #538.

In fact, I think a list of tooling options would be ideal. Something like:
[code]

[2016-05-10 04:12] #524 closed

[2016-05-10 10:24] ArcaneWater opened #542 "Mail server"
So i just installed this template and used mailhog, in readme it says just run npm install and grun serve, but i already fail at npm install as there is no package.json? Am i doing this wrong or whats recommended to get this local mail testing up?

[2016-05-10 11:36] luzfcb commented on #542
`package.json` and `Gruntfile.js` only is shipped on generated project if you select `"use_grunt [n]: y"`

if `"use_grunt [n]: n"`, `package.json` and `Gruntfile.js` is removed by [cookiecutter post-generate hook](http://cookiecutter.readthedocs.io/en/latest/advanced_usage.html#using-pre-post-generate-hooks-0-7-0):
https://github.com/pydanny/cookiecutter-django/blob/master/hooks/post_gen_project.p

[2016-05-11 06:37] ArcaneWater commented on #542
Oh forgot about that i fixed now but it does not work "from the box"?

[2016-05-11 06:51] #542 closed

[2016-05-11 13:08] trungdong commented on #515
Thanks, @jayfk. I added the IP to `INTERNAL_IPS` and the debug toolbar now shows up.
I didn't need to fix the CSS (I am using django-debug-toolbar 1.4).

[2016-05-12 04:53] #367 closed

[2016-05-13 12:04] phiberjenz commented on #523
Yes it's working on 2016.1.3!

[2016-05-13 12:08] luzfcb commented on #523
:+1:

[2016-05-13 19:45] rdmurphy opened #543 "django-secure still neccessary?"
Hello! Just came across this, and I thought of cookiecutter-django.

According to the `django-secure` docs, it was pulled into Django when it hit 1.8 and the [library is no longer maintained](https://django-secure.readthedocs.io/en/latest/index.html).

Unsure if the configuration changed in the process, but maybe the dependency could be dropped?

[2016-05-13 19:53] pydanny commented on #543
We just need a pull request taking it out. Also see #280.

[2016-05-14 09:46] pckapps opened #544 "Log Celery errors to Sentry"
Currently, errors that occur while a task is run in Celery is not reported to Sentry. I believe the default case should be that these tasks are also reported to Sentry. Some configuration is required to get that working as explained [here](https://docs.getsentry.com/hosted/clients/python/integrations/celery/)

[2016-05-15 09:34] pypetey commented on #538
+1 for that :)

[2016-05-17 14:31] Eraldo opened #546 "setup with default settings fails"
Python 3.5.1
Newest version: cookiecutter https://github.com/pydanny/cookiecutter-django fails.

Trace:
[code]

I also tried with different name and timezone.. same error.
Any idea what is going on or how to fix it?

[2016-05-17 14:33] luzfcb commented on #546
update the cookiecutter to version >= 1.4

pip3 install cookiecutter -U

or

sudo -H pip3 install cookiecutter -U

[2016-05-17 14:33] jayfk commented on #546
see https://github.com/pydanny/cookiecutter-django/issues/528

[2016-05-17 14:33] #546 closed

[2016-05-17 14:35] jayfk commented on #544
That's set here https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/%7B%7Bcookiecutter.project_slug%7D%7D/taskapp/celery.py#L27-L37

[2016-05-17 14:35] Eraldo commented on #546
Thanks that fixed it. :)

[2016-05-17 18:41] pckapps commented on #544
Sorry, mine didn't generate it. Closing issue

[2016-05-17 18:41] #544 closed

[2016-05-19 00:54] jangeador opened #548 "Pulling the postgres backup"
What is the recommended way to get the docker-compose backup from the postgres. I backup using the command in the docs

`docker-compose run postgres backup`

I would like to know the best way to get those backup files from the docker container and to put them somewhere else.

[2016-05-19 13:03] phiberjenz commented on #548
Had this exact problem yesterday.
`docker cp <containerId>:/file/path/within/container /host/path/target`

1. Get your Postgres container id by `docker ps`
2. `docker cp <containerId>:/backups ./backups`

[2016-05-19 13:13] jayfk commented on #548
@phiberjenz if you have the time, would you add this to the docs and create a pull request?

[2016-05-19 20:38] Eraldo commented on #529
I am happily using hitch on my system: OS X El Capitan Version 10.11.4.

I think hitch is a great project and I just set up a new project via cookiecutter and was shocked to see it has been removed.

After reading this thread I do understand why you chose to go down that path

I personally would love to see in integrated again. I gave another talk on it here in Berlin some time ago and it is gaini

[2016-05-20 08:38] Eraldo opened #550 "py.test errors using travis"
Since hitch has been removed, I am trying to run my tests with py.test for a new project.

The project uses travis for ci.

There is a default travis config file in the repo `.travis.yml` -- however I get an error telling me that it needs a script key.
`Please override the script: key in your .travis.yml to run tests.`
After some research I found an article explaining that there is no sensible def

[2016-05-20 17:44] pydanny commented on #529
My problems with Hitch essentially boils down to: It's just @crdoconnor maintaining the project.

While @crdoconnor has done an amazing job, Hitch is a very sophisticated project with what appears to be a single maintainer. While it's becoming apparent that any number of companies and organizations use Hitch, no one AFAIK is supporting his development on the project. In addition to the bus factor,

[2016-05-20 19:00] jangeador commented on #548
This works really well. Just one things that got me was the behavior of the ``docker cp`` command. If you want to keep using the same directory to keep backing up locally you need to suffix the source path with ``/.``. so the command that ended up working for me was:

`docker cp <containerId>:/backups/. ./backups`

[2016-05-22 18:24] #548 closed

[2016-05-24 23:18] jeffshek opened #556 "git pre/post commit hooks"
Thoughts on a pull request on a standard out of the box git pre-commit/post-commit hooks? I've used ones where we catch for any pdb in production / run pyflakes on code prior to commit, etc.

I'm looking at something similar below for inspiration
https://github.com/pre-commit/pre-commit-hooks

[2016-05-24 23:33] pydanny commented on #556
Interesting idea!

:bell: @burhan @theskumar @luzfcb @audreyr @jayfk

[2016-05-25 02:53] theskumar commented on #556
It's going to be a lovely edition.  It would be nice have some documentation on how to disable it temporarily.

[2016-05-25 03:11] djch commented on #556
@theskumar From my experience you can just do add the `--no-verify` argument to your `git commit`

[2016-05-25 13:44] jayfk commented on #556
Would love to have that as an optional thing :)

[2016-05-25 13:55] luzfcb commented on #556
+1 to to have that as an optional thing.
flake8 pre-commit hook and isort pre-commit hook[1] with `--check-only` and/or `--diff`

[1] https://github.com/FalconSocial/pre-commit-python-sorter

[2016-05-25 13:55] jayfk commented on #529
I had the pleasure of setting up a cookiecutter-django project with docker on windows 10.

- [x] Docker

[2016-05-25 13:58] jayfk commented on #475
We now have a mailhog container 👍

[2016-05-25 13:58] #475 closed

[2016-05-27 18:14] jangeador opened #558 "Example of celery use with Docker"
Does any user of this project have a working example of starting celery workers with Docker? Where will be the best place to start them from?

[2016-05-27 18:31] #539 closed

[2016-05-27 23:29] jangeador commented on #558
I am closing the issue as I found the answer to my question. Here it is in case anyone else needs it. The docker containers already have 2 containers dedicated for these. They are called `celeryworker` and `celerybeat`. They will be running when the container is in production.

During development it is possible to see these in action by using the commands:

`celery -A [your_project].taskapp worker

[2016-05-27 23:30] pydanny commented on #558
Is this in our documentation?

[2016-05-27 23:31] jangeador commented on #558
No sir. I found it by looking at the docker-compose.yml file.

[2016-05-28 09:51] jayfk opened #559 "Logging celery errors with opbeat"
Currently, celery errors are not logged by opbeat.

Info: https://opbeat.com/docs/articles/get-started-with-django/#logging-celery-tasks

[2016-05-30 15:22] jokimies commented on #464
I run into the same issue on Ubuntu 14.04 / Python3.4. Cloned my version of cookiecutter-django.git last Friday. Running 'python manage.py migrate' twice in a row results in the same message as @efraan got.
Similarily running makemigrations generates two files, one for 'sites' the other one for 'users', with same content as @efraan had.

[2016-05-30 20:52] jayfk commented on #539
:clap: @audreyr

[2016-05-31 20:20] aleprovencio commented on #467
@jayfk , can you please elaborate your suggestion of this one-off command?

[2016-06-01 02:06] clint74 commented on #538
I'm trying to understand Webpack but the documentation is pretty bad.

[2016-06-01 07:39] andretietz opened #560 "App Engine support"
Hi everyone,

Will AppEngine be supported on one point? or is that not even planned?

[2016-06-02 00:15] pydanny opened #561 "Implement formal Centos support"
If an organization(s) is willing to assure ongoing support for Centos, then we are willing to accept pull requests.

Note: We can't accept the submissions of an unaffiliated individual, as the core team is not prepared to provide support for an operating system we don't ourselves use.

[2016-06-02 00:39] pydanny commented on #560
We do not intend to support AppEngine. We will not even accept pull requests for it, because that places the burden of ongoing maintenance on us. As none of the core maintainers of this project use AppEngine, that puts us in the uncomfortable position of providing ongoing free work to benefit a multi-billion dollar multi-national company.

However, if Google is willing to provide staff able to sup

[2016-06-02 00:39] #560 closed

[2016-06-02 00:42] pydanny commented on #556
I think the consensus is that we would really like this feature. Please submit @jeffshek!

[2016-06-02 00:43] pydanny opened #562 "Remove django-secure"
References: #280 and #543

[2016-06-02 00:47] pydanny commented on #538
:bell: @jambonrose

[2016-06-02 00:53] pydanny commented on #477
Is this still a problem or can I close this issue?

[2016-06-02 00:56] #410 closed

[2016-06-02 06:19] audreyr commented on #556
Or if anyone wants to work on adding some of these during the PyCon sprints, go for it. 👍

[2016-06-02 06:26] audreyr commented on #538
I think we have to be careful with how webpack is configured if we do this. I'd prefer if Cookiecutter Django wasn't too specific to single-page apps. I lean on the side of not adding webpack unless it's added as an option and someone can maintain the feature.

[2016-06-02 06:34] audreyr opened #563 "Move warnings in README to a Troubleshooting section or document"
There are currently a lot of warnings scattered all throughout the README, which affect its readability for new users. I had the idea that we could:

1. Start a Troubleshooting section of README or a `troubleshooting.rst` doc
2. Move all the warnings there

[2016-06-02 06:39] audreyr opened #564 "Revise and improve docs/developing-locally.rst"
The "Getting Up and Running Locally" document needs revision from someone with great attention to detail and writing skills. Basically it needs to be checked for usability and modified as appropriate.

Perhaps this could be a way for a Cookiecutter Django newbie to get comfortable with the project while contributing.

[2016-06-02 06:43] audreyr opened #565 "Verify, revise, and improve docs/developing-locally-docker.rst"
- Make sure everything is up-to-date.
- If anything is unclear or incorrect, revise the text.
- Some parts are a bit longer than necessary and could be moved to a separate Docker Tips document.

[2016-06-02 06:45] audreyr opened #566 "Verify, revise, and improve docs/deployment-with-docker.rst"
- Make sure everything is up-to-date.
- If anything is unclear or incorrect, revise the text.

[2016-06-02 06:46] jayfk commented on #565
I'm happy to help if something is unclear.

[2016-06-02 06:46] jayfk commented on #566
Same here, I'm happy to help if something is unclear.

[2016-06-02 07:03] audreyr opened #567 "Document each feature of this project"
It would be nice if each feature listed in README had its own .rst file in `docs/` with detailed documentation explaining:

* What users should know about it
* How it is configured by default in Cookiecutter Django
* Which options correspond to or affect it, if any

More than one person can work on this at a time -- just comment with which part you are working on.

If you don't understand everythi

[2016-06-02 13:35] kappataumu commented on #567
Sorry that I'm hijacking this issue, but as a side note, regarding documentation, it is not immediately obvious where one should look for further info regarding configuration and setup. Nothing pops out, and a Ctrl+F "Documentation" yields no results when at the project's GitHub page.

In contrast, the [cookiecutter](https://github.com/audreyr/cookiecutter) project itself does a much better job, b

[2016-06-02 15:19] pydanny commented on #534
Let's nuke that code.

[2016-06-02 15:31] pydanny commented on #514
Cookiecutter Django is partly about using bleeding edge tools. How Bootstrap works between versions is out of scope for Cookiecutter. Hence why I'm closing this issue.

However, if someone wants to create a Bootstrap 3 theme cookiecutter template that works as a direct replacement for Cookiecutter Django, I'm willing to link to it.

[2016-06-02 15:31] #514 closed

[2016-06-02 15:34] pydanny commented on #387
Closing this as it has not had traffic for some time.

[2016-06-02 15:34] #387 closed

[2016-06-02 15:36] pydanny commented on #355
I believe the problem may have been with django-mailgun, which we no longer use (we use django-anymail now). If my assumption is incorrect, please reopen.

[2016-06-02 15:36] #355 closed

[2016-06-02 15:37] pydanny commented on #342
@andresgz, if it's not too late, please open a pull request! 😄

[2016-06-02 15:51] pydanny commented on #251
This would be a problem in Cookiecutter. If it is not resolved yet in that tool, please open an issue there.

[2016-06-02 15:51] #251 closed

[2016-06-02 15:52] andresgz commented on #342
Sure @pydanny I will open a pull request

[2016-06-02 15:54] jeffshek commented on #556
@pydanny Sorry! Got a little caught up, but I'll make a PR for this tonight!

[2016-06-02 16:59] pydanny commented on #342
@andresgz Are you working on this today? If not someone here at the [PyCon 2016 Cookiecutter sprints](https://github.com/audreyr/cookiecutter/wiki/PyCon-2016-Cookiecutter-Sprint) says they are willing to do it. Either way, you get credit for participating.

[2016-06-02 17:34] andresgz commented on #342
Yes, I'm on that!
I will post any question I find during the process.

[2016-06-02 18:18] pydanny commented on #342
Thanks @andresgz!

[2016-06-02 20:49] andresgz commented on #342
I have created the pull request #568
Please let me know if you found any issue.

[2016-06-02 21:45] luzfcb opened #569 "remove unused non-python dependencies from requirements.apt.xenial"
https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/utility/requirements.apt.xenial

[2016-06-03 01:40] purplediane commented on #564
I will get started on this.

[2016-06-03 01:43] pydanny commented on #564
Being worked on @dot2dotseurat and Emily Cain.

[2016-06-03 01:59] mjsisley commented on #538
I have a webpack config file for a Cookecutter Django project that essentially accomplishes most of grunt is doing for the project and adds transpiling of javascript, so it is easy to plug React in (or es6, coffeescript, etc...). It isn't specific to single-page apps.

Here is a gist of what I have so far: [Webpack Config for Cookiecutter Django](https://gist.github.com/mjsisley/497ad917cd14ada631

[2016-06-03 02:06] mjsisley commented on #471
I have this setup with Docker (changes to docker-compose and nginx config) and think it would be a great addition to the project.

I could submit a PR that offers automatic letsencrypt support as long as Docker is chosen.

@jayfk What is the opinion of the core maintainers on adding support incrementally by development/ deployment method?

[2016-06-03 02:09] mjsisley commented on #565
Add items in #515 in Docker Tips section?

[2016-06-03 02:18] pydanny opened #572 "Add Apache 2 as a license option"

[2016-06-03 02:57] mjsisley opened #573 "Django Favicon Generation"
These two packages exist:
- [django-favicon-plus](https://github.com/arteria/django-favicon-plus/)
- [django-super-favicon](https://github.com/ZuluPro/django-super-favicon)

The first is patterned after the helpful [favicon cheatsheet](https://github.com/audreyr/favicon-cheat-sheet) by @audreyr.

Thoughts on adding one of these, or something like it, into the project?

[2016-06-03 03:03] pydanny commented on #471
@chrisdev was working on this today at the Cookiecutter sprints at PyCon. Perhaps @chrisdev and @mjsisley could collaborate together?

[2016-06-03 06:42] jayfk commented on #471
I think that's the best way :). We won't find a solution for all kinds of deployment methods over night.

I've used Caddyserver in the past that has built in letsencrypt support. If someone is working on this, take a look at:

 * Caddyfile https://github.com/pydanny/djangopackages/blob/dockerize/compose/caddy/Caddyfile
 * Dockerfile https://github.com/pydanny/djangopackages/blob/dockerize/compose/

[2016-06-03 06:43] jayfk commented on #565
@mjsisley 👍

[2016-06-03 06:59] jayfk opened #574 "Review and edit django-allauth templates"
The project comes with django-allauth templates by default. Most of the time they look somewhat *okay*, but are inconsistent.

What to look for:

 * Margins: Is this correct accross all templates?
 * Widths: Some templates are half size, some are full size
 * Wording
   - Sign Up, Signup, Register, Log In, Login, e-Mail, Email, eMail-Address => Make one the default.
   - Check for spelling, gramma

[2016-06-03 17:39] dot2dotseurat commented on #563
I will start working on this!

[2016-06-03 18:55] xpostudio4 commented on #562
I'm working on it

[2016-06-03 19:13] dot2dotseurat commented on #572
I can give this a shot!

[2016-06-03 19:17] EMCain commented on #564
I am writing a draft of a new tutorial at http://rst.ninjs.org/?n=60d2e7683bf517906ba3b447384c8d14&theme=basic -- please comment here instead of editing the document if you have questions.

[2016-06-03 19:19] #563 closed

[2016-06-03 19:36] audreyr commented on #567
Thanks @kappataumu, that's a great point. Could you help us out by creating a new issue for that? I'll mark it high-priority and hopefully we'll get a fix from someone during the sprints 😄

[2016-06-03 19:38] audreyr commented on #476
This was done in #516.

[2016-06-03 19:38] #476 closed

[2016-06-03 19:45] EMCain commented on #564
Also, I will condense the "setup" section of the new tutorial into a "quickstart" section for our readme page, and include a link to the tutorial for anyone who has additional questions.

[2016-06-03 19:52] audreyr opened #580 "Gulp support"
Discussed and approved at the PyCon 2016 sprints:

* Add optional Gulp support
* If parity is achieved with Gulp, remove Grunt
* Document how to use the new Gulp configuration

[2016-06-03 19:52] viviangb commented on #580
I'm working on this.

[2016-06-03 20:00] pydanny opened #581 "Dynamically generate license file"
This should follow the same pattern as https://github.com/audreyr/cookiecutter-pypackage/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/LICENSE. Dependent on #578.

[2016-06-03 20:23] jambonrose commented on #538
tldr: I agree with @audreyr

I get the impression that Webpack is centrally used for bundling JS and assets in single page web apps (even though it could be used for bundling smaller scripts). Including it leads down a bit of a rabbit hole. If Webpack is included, a number of other pipelining decisions will likely need to be made to help/ease deployment of a single page app (such as whether to inc

[2016-06-03 20:45] mjsisley commented on #538
tldr: Are you guys sure? I will submit a PR with a simple config if you guys decide you want it.

As someone who started with a Cookiecutter Django project and brought webpack in so that I could transpile React, es6, etc.., I think having a base webpack config file to start with would have been really helpful.

I worked out the issues I had with the CSS extraction to a separate path, so I could su

[2016-06-03 20:45] #515 closed

[2016-06-03 21:03] pydanny commented on #572
Closed in 24a18160305b81b56d461de42e3ed81a14cd5b45

[2016-06-03 21:03] #572 closed

[2016-06-03 21:09] jayfk commented on #538
The main problem I see is that someone has to maintain it. There will be new releases, bugs and questions and we have to take that into account, too.

Not that I'm totally against it, we just have to keep that in mind :)

[2016-06-03 21:42] mjsisley commented on #538
That makes complete sense @jayfk and I understand the thought process. It probably makes sense for a Django cookiecutter project to only support one frontend build tool.

I just like webpack because of its upside and was convinced it was the best of the alternatives by [instagram's usage](https://www.youtube.com/watch?v=VkTCL6Nqm6Y) awhile ago when I wanted to add React to a Cookiecutter Django pr

[2016-06-03 23:07] #562 closed

[2016-06-04 00:22] pydanny opened #586 "Add pytest-cookies"

[2016-06-04 01:08] audreyr commented on #580
Merged in #585.

[2016-06-04 01:08] #580 closed

[2016-06-04 01:22] xpostudio4 commented on #581
I'll be working on this

[2016-06-04 02:42] mapfilterrecluse commented on #567
Interested in bandwagoning onto this feature. I'm not sure if there's some part of the docs that need more urgent updating than the others though.

[2016-06-04 08:02] #581 closed

[2016-06-04 10:39] kappataumu opened #588 "Link to the documentation from the README"
When landing at the project's page, it's not immediately obvious where one should look for further info regarding configuration and setup. A prominent link pointing to [Read the Docs](http://cookiecutter-django.readthedocs.io/en/latest/index.html) should be placed in the README, near the top, as in [cookiecutter](https://github.com/audreyr/cookiecutter).

[2016-06-04 10:55] kappataumu commented on #567
No problem @audreyr, opened #588. Will someone handle all the doc issues together, or should I just go ahead and submit a fix?

[2016-06-04 17:00] kappataumu opened #589 "Use the minified Bootstrap CSS and JS"
I noticed that in [base.html](https://github.com/pydanny/cookiecutter-django/blob/bootstrap4-alfa2-cdn/%7B%7Bcookiecutter.project_slug%7D%7D/%7B%7Bcookiecutter.project_slug%7D%7D/templates/base.html), contrary to what the HTML comments suggest, the links are to the unminified CSS and JS for Bootstrap. In the [bootstrap4-alfa2-cdn](https://github.com/pydanny/cookiecutter-django/tree/bootstrap4-alfa

[2016-06-04 17:48] pydanny commented on #186
We should also start using @hackebrot's pytest-cookies.

[2016-06-04 17:49] pydanny commented on #280
Fixed in #579 by @xpostudio4

[2016-06-04 17:49] #280 closed

[2016-06-04 17:49] pydanny commented on #543
Addred in #579 by @xpostudio4

[2016-06-04 17:49] #543 closed

[2016-06-04 17:50] pydanny commented on #343
I can't replicate this problem so I'm closing it. If it is still a problem, please reopen.

[2016-06-04 17:50] #343 closed

[2016-06-04 23:08] mzdaniel commented on #498
I'll take care of this

[2016-06-04 23:16] mjsisley commented on #498
Per @jayfk: https://github.com/frol/docker-alpine-python3/issues/1 may prove helpful. Probably will need a Dockerfile that specifies dependency on glibc and the dependencies listed in the link (you may very well know this, but just in case)

[2016-06-04 23:40] pydanny commented on #588
Sounds like a great idea. Would you like to submit a pull request in order to get more credit? If not I can take care of it for you.

[2016-06-04 23:44] pydanny opened #590 "Simplify cookiecutter.json"
We want to simplify a bit the questions that we ask when creating a project. For example, now is used infrequently and you usually end up needing to edit later.

Here are some things I think we should do:

1. move `{% now 'local' %}` from `cookiecutter.json` to exactly where it is used in the project.
2. Replace the year  prompt from cookiecutter.json with precise target in the templates.

[2016-06-05 00:16] pydanny commented on #590
Fixed in e5b3b85

[2016-06-05 00:16] #590 closed

[2016-06-05 17:26] pydanny commented on #589
Good idea. Care to submit a pull request?

[2016-06-05 17:27] pydanny commented on #449
Newer heroku config plugin: https://github.com/xavdid/heroku-config

[2016-06-05 19:32] #390 closed

[2016-06-05 19:34] pydanny commented on #450
@dezoito's snippet has been implemented. Our next step is documenting it.

[2016-06-05 20:12] pydanny commented on #559
Considering Sentry does such a great job at this kind of task, what's the purpose of having Opbeat do it as well?

[2016-06-05 20:16] jayfk commented on #559
They are both optional. If someone uses Opbeat without Sentry, he/she won't get notifications.

[2016-06-05 21:13] audreyr opened #591 "Write test that creates/checks a matrix of all y/n option combinations"
Ensure that the project generates without errors for every possible combination of:
- y/n values entered
- choices entered when selecting from a list, e.g. test all license choices

(Similarly filed in Cookiecutter PyPackage: https://github.com/audreyr/cookiecutter-pypackage/issues/184)

[2016-06-05 21:17] pydanny opened #592 "remove_file for deleting files in post_gen_project.py"
This prevents hard-to-debug project generation failures that occur when a file that doesn't exist is attempted to be removed.

[2016-06-06 09:52] mzdaniel commented on #498
@mjsisley: There is currently an official alpine image. Either way, we should evaluate if it is worth to create our own 'custom' image with binary wheels included to significantly simplify our use case and in particular gh #594.

[2016-06-06 14:21] mjsisley opened #596 "Adding nginx-proxy"
[nginx-proxy](https://github.com/jwilder/nginx-proxy) offers at least the following:
- simple nginx load-balancing
- simple zero downtime deployments
- a [letsencrypt companion](https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion) using simp.le, that handles letsencrypt better than what is currently used in this project.
- multiple sites on one IP address.

The first three could be ad

[2016-06-06 15:53] audreyr commented on #596
👍  on having nginx-proxy in docker-compose by default. This is meant to be an "ultimate" project template rather than a minimal one, so it's certainly within scope.

[2016-06-06 16:45] #589 closed

[2016-06-06 22:14] mjsisley commented on #596
Great! I'll work on this then. Going to do it in two stages.

1. I'll change the letsencrypt config first to depend on nginx-proxy, and only include it as part of the letsencrypt option. I'l keep everything in docker-compose.yml for this one.

2. The zero downtime deployments require moving postgres and redis to be external services (and linked with external links) relative to nginx, django, celer

[2016-06-06 23:47] pydanny opened #599 "Update or remove install_os_dependencies.sh?"
I saw people experiencing problems with this utility at PyCon.  There is also http://stackoverflow.com/questions/37467088/cant-run-migrations-when-setting-up-a-project-with-cookiecutter-django

The problem is maintaining global scripts like this is hard, I don't ever use them personally because they are so fragile. I don't teach people to use them for this same reason, in fact, I suggest they stay

[2016-06-07 02:02] valerymelou commented on #599
I think they should be removed.
I'have experienced many package not found errors when trying to install OS dependencies with them. And back that time I was running an up to date Debian Testing system. I tried it again recently with Ubuntu 16.04 (up to date) and it didn't work either.

[2016-06-07 21:53] pydanny opened #601 "Switch test harness to pytest-cookies"
The current work has been amazing, but PyTest-Cookies would allow us to move faster. It would also mean more understandable tests. I think a conversion wouldn't be hard, porting over many of the tests very straightforward.

[2016-06-07 22:13] #601 closed

[2016-06-08 08:01] jayfk opened #602 "Wait for postgres container to start"
Django's `runserver` relies on a working database connection during startup. If this is not the case `runserver` fails entirely and the container has to be restarted.

To circumvent that, the `runserver` call should be wrapped in a function that checks if the postgres database is up and running.

This only affects the development environment. Production is fine.

[2016-06-08 15:34] jeffshek commented on #591
@audreyr i'll give this a shot, i'll start with the cc-django one and port it over if it's what we're going for

[2016-06-08 17:47] audreyr opened #603 "Remove warning from docs/index.rst"
Right now it says:

That's not true anymore, so the warning box should be removed.

[2016-06-08 18:19] ddiazpinto commented on #599
I think it would be necessary to improve the entire mechanism (not removing it, because it's quite useful), including all the different names and versions of each package for each distribution (including debian, that actually doesn't works). That would resolve all this issues.

[2016-06-08 18:37] audreyr opened #604 "Update README with gulp option"
Now that we have gulp support, the README needs to be updated in a few places.
- Mention the features our Gulpfile provides
- Update the example prompts

[2016-06-08 18:38] audreyr commented on #588
Done in #597

[2016-06-08 18:38] #588 closed

[2016-06-08 18:45] audreyr commented on #599
If anyone can help us out by submitting a pull request to do the following, we'll consider keeping it:

* Update `install_os_dependencies.sh`
* Document how to use `install_os_dependencies.sh` in a new document in `docs/`

[2016-06-08 18:52] luzfcb commented on #599
as a historical reference:

I created this `install_os_dependencies.sh` script and `requirements.apt` file as part of the resolution of the issue https://github.com/pydanny/cookiecutter-django/issues/34 .

I needed to document the non-python dependencies, and rid our users (I'm included in this group) to have the tedious work to check which python dependencies have non-python compilation dependenc

[2016-06-08 19:12] audreyr commented on #599
I see, thanks for the explanation @luzfcb. I think there was some confusion here on our part, sorry about that.

I like #605. I will try to get to reviewing it asap.

[2016-06-08 19:28] pydanny opened #606 "dhparam.pem instructions need to come before docker-compose build"
If using Let's Encrypt and Certbot, this needs to be done before docker-compose. Otherwise the build fails and you have to start the build over again.

[2016-06-08 19:36] #606 closed

[2016-06-08 20:05] jayfk commented on #606
It would be possible to autogenerate that file during container "boot". Is this something you would consider?

[2016-06-08 20:12] mjsisley commented on #606
Unless there is a good reason not to, I'm going to submit a PR to use nginx-proxy and a companion container for Letsencrypt support (which handles dhparam.pem generation during build) instead per #596 when I have the chance.

[2016-06-08 20:33] jayfk commented on #596
One thing I'd like to discuss is that `nginx-proxy` requires to mount the docker socket at least in read-mode. There's no way around that.

This gives the container the ability to observe everything that's happening on the system docker wise, when mounted with r/w it's essentially root.

This might be a bit confusing for people using cookiecutter-django with docker for the first time, since they p

[2016-06-08 21:35] mjsisley commented on #596
@jayfk What do you use in place of nginx-proxy for load balancing/ multiple sites on one IP/ zero-downtime deployment?

As it shouldn't take too long, I'll put together a PR for the first step (shouldn't be too hard to pull out of what I am using) subject to your review @jayfk. I'll hold off on the second step until consensus is reached on the first step.

Also, if there isn't a good alternative,

[2016-06-08 21:44] audreyr opened #607 "Optionally generate a .gitlab-ci.yml"
- It should be optional. In `cookiecutter.json` we should have `"use_gitlab_ci": "n",`
- It should be pre-configured to run the test suite upon commit
- Document how it works in:
  - `docs/project-generation-options.rst` (broadly)
  - `docs/ci-gitlab.rst` (in detail)
- Continuous deployment might be nice as well, at least for one of the deployment options

[2016-06-09 02:44] Egregors commented on #464
I have the some problem. Does anyone solve it?

[2016-06-09 03:09] pydanny opened #608 "Replace requires.io with pyup.io"
It's based on Cookiecutter Django. What's not to love?

[2016-06-09 14:08] calculuscowboy commented on #607
I have a Cookiecutter Django project using GitLab CI and Docker with compose and machine for continuous deployment.  The basic pipeline is pushes to all branches run the tests (including flake8 and coverage), pushes to master and production branches also automatically deploy to beta.{{cookiecutter.domain_name}} and {{cookiecutter.domain_name}}, respectively.

The [.gitlab-ci.yml](https://github.co

[2016-06-09 15:02] pydanny opened #609 "Add a case studies file"
Cookiecutter has one, [albeit without many entries yet](https://github.com/audreyr/cookiecutter/blob/master/case_studies.rst). Shouldn't Cookiecutter Django have one too?

[2016-06-09 15:24] pydanny commented on #608
Finished in 29eb48efe8e039f0e0ef0ff6c77c71969d74d826.

[2016-06-09 15:24] #608 closed

[2016-06-09 15:29] jayfk commented on #609
Absolutely! Something like "built with Cookiecutter Django"?

[2016-06-09 17:36] luzfcb commented on #609
"initial project layout generated by Cookiecutter Django"?

[2016-06-10 02:39] mightbejosh commented on #464
Ditto. OSX El Cap, python3.5

[2016-06-10 23:29] pydanny commented on #347
@yunti, I think your understanding doesn't mine. The current architecture of Cookiecutter, which was suggested and implemented by @theskumar is:

[code]

This forces us to namespace app packages thus in imports `project_name.users`. Some more history:

1. @theskumar argued for it, and I was hesitant. I trust his judgement, so I thought, why not try it?
2. Then I decided I didn't like it. In monoli

[2016-06-12 01:28] pydanny commented on #596
@jayfk I'm going to assume that your concerns are summarized in https://raesene.github.io/blog/2016/03/06/The-Dangers-Of-Docker.sock/ and https://www.lvh.io/posts/dont-expose-the-docker-socket-not-even-to-a-container.html. Is that correct?

The counter argument is posted at https://github.com/jwilder/nginx-proxy/issues/242/#issuecomment-142928465. My understanding of it is that the concern is with

[2016-06-12 01:30] pydanny commented on #606
@mjsisley Automating the Letencrypt components would be awesome! As for the `nginx-proxy` item, in #596 we're waiting for a more knowledgable response.

[2016-06-12 19:53] goldhand commented on #538
I found this thread this weekend and created the pull request above. I've built a couple cookiecutter projects for [HZDG](https://github.com/hzdg/), one being the [cookiecutter-webpack](https://github.com/hzdg/cookiecutter-webpack) project that I install into this project with the post hooks. It's based on our own cookiecutter-django (still private) that installs webpack in the same manner. BTW,

[2016-06-13 15:05] jayfk commented on #596
@pydanny That's correct. But even in `read-only` mode you'll be able to observe everything the docker deamon is doing on the host machine.

I just want to make sure we find the correct balance between security/usability here.

Besides that, I had a couple of conversations in private with @mjsisley, maybe we can consolidate this here.

[2016-06-13 15:37] #603 closed

[2016-06-13 17:00] lvh commented on #596
`:ro:` doesn't change anything. POC: https://asciinema.org/a/5optugqcp2lflps7r47dr7ids

[2016-06-14 12:13] shlomikushchi opened #615 "network issue when using pycharm"
Hi,
I am new to docker, so this might not be a big issue.
I am using the coockiecutter template to create a project supporting pycharm development.
I am also using Windows OS, so this might be related.
I am using the latest pycharm - 2016.1.4

Pycharm in windows lacks support for docker-compose as it is in OSX. so, I need to use docker command line to do docker-compose up,
and then use the pycharm

[2016-06-14 16:24] kappataumu commented on #574
I'm working on this, should the templates be brought in sync with upstream? There a couple of changes.

[2016-06-14 20:37] pydanny commented on #574
@kappataumu Absolutely they should be made current with upstream, albeit formatted for Bootstrap 4.

--@pydanny

[2016-06-15 00:38] pydanny opened #622 "Document that Cookiecutter Django is secure by default"
The security settings are set for HTTPS only by default, sessions and cookies just don't stick unless you have HTTPS. This isn't explained anywhere, which can trip up newer Docker users.

[2016-06-15 14:44] shlomikushchi commented on #615
Found the solution. pycharm has a run configuration that can determine the network the container is connected to:
![pycharm](https://cloud.githubusercontent.com/assets/7924802/16084266/d374692c-3320-11e6-9f42-405ce2045ba5.PNG)

[2016-06-15 14:44] #615 closed

[2016-06-15 14:54] msamoylov opened #623 "Faster deployments"
`./manage.py collectstatic` is pretty slow because us WhiteNoise. Is there any way to reduce downtime while deploying latest changes live?

[2016-06-15 17:48] burhan opened #624 "Integration of preflyt for better checks"
It is great that we offer a lot of choice for components and I think we should make the template even more flexible (more on this soon); however the more components we offer, it creates a more complex decision tree of variable and configurations that have to be checked for a successful deployment.

For example, it could be a way to deal with #602

In order to test for and resolve this, I am propos

[2016-06-16 03:00] asisley123 commented on #596
So the consensus is that the security issues posed by the usage of docker.sock make using nginx-proxy unwise (at least within this project where it may be used without understanding the security implications)?

I can close this issue if this is the case.

[2016-06-16 03:00] lvh commented on #596
I'm not going to make that call; but I'll happily document the material facts required to make it :)

[2016-06-16 03:23] mjsisley commented on #596
This should be above... "So the consensus is that the security issues posed by the usage of docker.sock make using nginx-proxy unwise (at least within this project where it may be used without understanding the security implications)?

I can close this issue if this is the case."

Thanks @lvh. No desire to rush the decision... just wondering if that decision has been made because it seems there is

[2016-06-16 03:27] mjsisley commented on #596
@lvh, does using the docker-gen container separately protect against the read only issue as suggested by @md5 (and supported by @jwilder) in jwilder/nginx-proxy#242 and relevant piece included below:

"Since the socket is already being used to do bidirectional HTTP communication with the deamon, all the threats listed in that article apply to jwilder/nginx-proxy. However, the exploit would have to

[2016-06-16 04:36] jwilder commented on #596
In the [separate container](https://github.com/jwilder/nginx-proxy#separate-containers) option for `nginx-proxy`, an `nginx`  and `docker-gen` container are run separately sharing a volume.  `nginx` is exposed to the network while `docker-gen` is not.  `docker-gen` has access to the docker socket and notifies `nginx` via a signal after the template is regenerated.

[2016-06-16 06:21] mpdevilleres opened #626 "missing environmental variables nginx container"
Hi,
I am trying to evaluate cookiecutter-django, so far its a great tool to start a project. everything is going smooth except when I tried to use docker with certbot, i'm having this error.

`nginx_1         | 2016/06/15 07:55:36 [emerg] 1#1: invalid port in upstream "___LETSENCRYPT_IP___:___LETSENCRYPT_PORT___" in /etc/nginx/nginx.conf:42
`

start.sh contains

[code]
I'm not a guru here, but I c

[2016-06-16 08:29] jayfk commented on #596
Separating the containers is a bit problematic for the Cookiecutter Django use case, because the nginx container has to be a named container.

If someone wants to run two projects on the same server, the config has to be ripped apart to support that.

[2016-06-16 10:28] toanant commented on #471
Lets Encrypt already launched their official client [certbot](https://certbot.eff.org) with automated as well as advanced installation doc for different web-server and operating system.

[2016-06-16 12:12] kappataumu commented on #574
Did this in a bit of a hurry, if there are any glaring omissions hit me up.

[2016-06-16 16:47] pydanny commented on #626
Hey @mjsisley, can you weigh in?

[2016-06-16 16:49] pydanny commented on #623
To which service are you deploying?

[2016-06-16 16:55] luzfcb commented on #624
@burhan first problem: [preflyt](https://github.com/humangeo/preflyt) is Python3 [only](https://github.com/humangeo/preflyt/blob/master/setup.py#L29)

[2016-06-16 21:22] jayfk opened #629 "Ask for development and production environments?"
Maybe we should split the current configuration into environments and ask during project generation what configurations to use in dev/prod.

This would make it easier for users to decide how the want to build and deploy their projects.

Currently, it's a bit of a mess. On the dev side we have:

- vanilla python
- vanilla python + node
- docker

On the prod side we have:

- vanilla python
- docker

[2016-06-16 21:38] mjsisley commented on #626
The environment variables are set by the certbot container and then used by the nginx container. This error likely means that the there is an issue with the certbot/ letsencrypt container. It is possible the command needs to change.

Are there any logs for the certbot container prior to the "invalid port in upstream" error?

[2016-06-16 21:55] pydanny commented on #626
The problem I had was that MY_DOMAIN_NAME environment variable was not set to the domain name I wanted.

[2016-06-16 21:57] mjsisley commented on #626
So this is working for you now @pydanny?

[2016-06-16 21:58] pydanny commented on #626
@mjsisley I had to get up a site quickly, so I did `Let's Encrypt` the manual way.

[2016-06-16 22:29] pydanny commented on #626
Before we dig deeper into correcting this issue, I just wanted to compliment @mjsisley on the work he's done on `Let's Encrypt` and `Certbot` in Cookiecutter Django. He's solving a very hard problem, which is ensuring easy-to-use HTTPS for all users done through the abstraction that occurs when generating Cookiecutter templates.

With that, I also want to say that I expected a few bumps along the

[2016-06-17 08:23] msamoylov commented on #623
My bad. Deploying with Docker to Linode and Digital Ocean. It takes about a
minute to collect static files.

On Thu, Jun 16, 2016 at 7:50 PM, Daniel Roy Greenfeld <
notifications@github.com> wrote:

--
Michael Samoylov
michael.samoylov@gmail.com
LinkedIn: http://linkedin.com/in/msamoylov

[2016-06-17 10:46] mjsisley commented on #626
I like the idea that someone could essentially check an option on this project and then have HTTPS (thanks to the awesome thing that is Let's Encrypt). However, the manual way that Let's Encrypt provides is pretty easy as well.

Given that there is now an issue with the automated process that is in this project and that I now use [docker-letsencrypt-nginx-proxy-companion](https://github.com/JrCs/d

[2016-06-17 14:33] valerymelou opened #631 "Fix flake8 F405 complains?"
Right after project generation, flake8 complains about lot of F405 in local and production settings files. Should we ignore those files with `# flake8: noqua` or just ignore concerned lines with `# noqua`?

[2016-06-18 01:35] aleprovencio opened #632 "review the current s3 config"
The current way leads to problems such as [this](https://stackoverflow.com/questions/12659655/django-storages-sorl-thumbnail-s3-not-working-well-together-urls-mismatch)

[2016-06-18 02:08] pydanny commented on #342
Merged.

[2016-06-18 02:08] #342 closed

[2016-06-18 02:38] luzfcb commented on #631
@valerymelou use `# flake8: noqa` does not solve the problem, because it also mutes all other flake8 errors in this file.

This new F405 error was included in flake8 2.6.0.

[2016-06-18 02:46] pydanny commented on #632
Outside of the issue you list, I've never seen any problems with Cookiecutter Django's setup. None of the many other image packages cause any problems to the best of my knowledge. The conclusion I draw is that the issue is with `sorl-thumbnail` and not Cookiecutter Django's configuration. We play according to standard rules, apparently `sorl-thumbnail` does not.

I suggest you open an issue with `

[2016-06-18 02:46] #632 closed

[2016-06-18 02:48] pydanny commented on #631
Should we roll back to an earlier version of flake8? This is annoying seeing all the builds break and not being able to fix it.

[2016-06-18 02:51] pydanny commented on #260
In my experience vendors won't provide support here. Sure, they might do a drive-by pull request, but they aren't going to maintain things. That falls upon us, the community and especially the core contributors.

That's why we don't provide more options, Redhat, Amazon, et al, they just aren't going to help us maintain tools to access their systems.

[2016-06-18 02:52] pydanny commented on #286
Addressed in #568

[2016-06-18 02:52] #286 closed

[2016-06-18 03:09] luzfcb commented on #631
I agree to return to the previous version.

I opened a issue asking for more explanations: https://gitlab.com/pycqa/flake8/issues/146

[2016-06-18 07:06] rougeth commented on #602
There's an example on Docker Compose docs of a container waiting for postgres to start, that can be useful: https://docs.docker.com/compose/startup-order/

[2016-06-18 08:09] jayfk commented on #631
I'm going to revert #625 to make the build green again. The bot will then open a new (failing) PR where we add commits that fix all other issues.

[2016-06-18 08:12] jayfk commented on #631
Reverted in #634, new PR at #635.

[2016-06-18 09:02] theskumar commented on #286
❤️

[2016-06-18 11:43] aleprovencio commented on #632
Thanks @pydanny. I guess this was already [seen](https://github.com/mariocesar/sorl-thumbnail/issues/391) by sorl-thumbnail's crew. Should I insist there then? :)

[2016-06-18 15:56] luzfcb commented on #631
I would not want to mute F405 completely, since `import star` is a bad practice. leaves debug incredibly difficult and confusing. However, our use of `import star` in django configuration file is a case where The Zen of Python: `practicality beats purity` it is applied.

from https://gitlab.com/pycqa/flake8/issues/130#note_12529319, this will be resolved in flake8 3.0.0 .
apparently we will be abl

[2016-06-19 07:53] mirskiy commented on #626
I think this error may be related to docker's new networking features. Since the link environmental variables have been deprecated (https://docs.docker.com/compose/link-env-deprecated/), they are no longer replaced. I was able to get running by just using the actual container names in the conf, see #636. Seems it's already corrected for the django container - ___APPLICATION_IP___  has been replace

[2016-06-19 12:08] mpdevilleres commented on #626
This

[2016-06-19 12:09] #626 closed

[2016-06-19 12:10] mpdevilleres commented on #626
This solves the problem, Thanks.

[2016-06-19 19:24] #538 closed

[2016-06-19 19:28] pydanny commented on #466
Resolved in #610 by @goldhand.

[2016-06-19 19:28] #466 closed

[2016-06-19 19:29] pydanny commented on #301
Considering #616 can I close this issue?

[2016-06-19 19:31] pydanny commented on #335
Marking this closed as I think we've moved on to having most documentation in the top level docs.

[2016-06-19 19:31] #335 closed

[2016-06-19 20:38] arruda commented on #335
:+1: :smiley:

[2016-06-20 00:03] valerymelou commented on #631
So we shall fall back to flake8 2.5.5 or wait for flake8 3.0.0 to be able to use `# noqua: F405`.

[2016-06-20 00:03] #631 closed

[2016-06-20 00:10] luzfcb commented on #631
@valerymelou the correct is `# noqa: F405` and not `# noqua: F405` :-)

[2016-06-20 10:04] jayfk opened #637 "Webpack and Docker"
We should add instructions how to use them together **or** raise a warning if both of them are selected.

[code]

[2016-06-20 15:12] goldhand commented on #637
Nodejs needs to be available for the npm commands to work (the missing `webpack-stats.json` is generated when you run `npm start`). I'm not very familiar with docker but I can look into including node somehow.

[2016-06-20 16:33] jayfk commented on #637
Thanks! This was more of a reminder for myself than a call to action :)

I've managed to create a working hybrid setup with python running in docker and node running locally.
I'd love to move node into it's own container tough. There are some missing parts to do that:

- the node server has to be started on `0.0.0.0`
- there needs to be a command to run the node server on it's own, without calling

[2016-06-21 23:12] aleprovencio commented on #626
It also solves for me, but as I mentioned on the PR, this new issue emerged:
``nginx: [emerg] host not found in upstream "certbot" in /etc/nginx/nginx.conf:42``

[2016-06-21 23:24] aleprovencio commented on #626
It also solves for me, but as I mentioned on the PR, this new issue emerged:
``nginx: [emerg] host not found in upstream "certbot" in /etc/nginx/nginx.conf:42``

[2016-06-22 01:57] mjsisley commented on #596
I agree with @jayfk. The main benefit of nginx-proxy is that you can have multiple sites under one IP address with Docker easily.

Putting it into the project by default just for Let's Encrypt wouldn't make a ton of sense, as those who want to use the full feature set of nginx-proxy would then have to tear apart the config (as you said @jayfk).

[2016-06-22 02:00] mjsisley commented on #596
If this is going to be added, then I think it may make more sense as a separate cookiecutter that gives an option to cookiecutter-django projects (and really any cookiecutter project that uses docker) to be reconfigured to fit within an umbrella multi-project structure.

[2016-06-22 07:42] msamoylov opened #640 "Deploying with Fabric"
Hi guys.

Will you consider a PR with Fabric? Right now there's no way to automate deployment if Docker is not selected.

[2016-06-22 08:56] pydanny commented on #640
Three concerns, each of which prevents this from being an option:

1. Fabric is Python 2-only. PyInvoke or some other Python 3 friendly tool would have to be used instead.
2. Deploy to what? AWS? Digital Ocean? Rackspace? Something else? "fabric' is not specific enough.
3. I really, really prefer Docker over fabric/pyinvoke deployments. I don't want to assume the burden of responsibility for deplo

[2016-06-22 08:56] #640 closed

[2016-06-22 09:01] msamoylov commented on #640
1. I can argue that with https://pypi.python.org/pypi/Fabric3
2. Deploy to any Ubuntu server.
3. Makes sense. We've been using Fabric for ages and may be kinda out-of-date, so Docker is taking over the Django deployment market now? Just curious.

[2016-06-22 18:05] mirskiy commented on #626
What version of docker and compose are you using? If you go into one of the containers, can you ping one of the other ones by name (ex. postgres)? I am on docker-compose version 1.7.1, build 0a9ab35, Docker version 1.11.2, build b9f10c9.

[2016-06-22 18:18] aleprovencio commented on #626
Docker is the exact same version while docker-compose is almost (version 1.7.1, build 6c29830). Yes I can ping the container from the other ones, except the certbot which exits early since certificates are not yet due for renewal :(

[2016-06-22 19:20] mirskiy commented on #626
Oh ok, seems like you might be getting the same error I was talking about in the PR. Have you already added `CMD /start.sh` back into the nginx Dockerfile? If so, I was able to get things working for now by removing the acme-challenge location blocks from nginx-secure.conf, it just means you will need to kill and restart the containers to perform certificate update, but hopefully there will be pro

[2016-06-22 19:52] aleprovencio commented on #626
Just to clear this up, you mean:

* Applying the changes from this PR
* put ``CMD /start.sh`` by the end of ``compose/nginx/Dockerfile``
* removing the two ``location /.well-known/acme-challenge`` blocks fom ``compose/nginx/nginx-secure.conf``

Is this correct?

[2016-06-22 19:57] mirskiy commented on #626
Have you already performed the second step (changing the Dockerfile)? If not, I didn't think it would be failing - can you post your Dockerfile and the output that you are getting the issue in (just out of curiosity)?

Regardless, yes those steps are what I did to get it to work.

[2016-06-22 21:47] aleprovencio commented on #626
@mirskiy, https seems to finally work via browser access!

Nginx however still threatens me throwing this on the logs:

	/start.sh: 54: kill: No such process
	[emerg] 19#19: bind() to 0.0.0.0:80 failed (98: Address already in use)

..and the Dockerfile:

	FROM nginx:latest
	ADD nginx.conf /etc/nginx/nginx.conf

	ADD start.sh /start.sh
	ADD nginx-secure.conf /etc/nginx/nginx-secure.conf
	ADD dhpara

[2016-06-22 22:04] mirskiy commented on #626
The kill warning is probably due to grepping ps output returning the grep
process itself. I changed my start.sh kill line to `kill $(ps aux | grep
'nginx' | grep -v 'grep' | awk '{print $2}')
`. Or you can just ignore it, no difference.

The bind error could be because you already have something on port 80 on
your host machine. Are you running a web server on your host? If you are on
debian/ubuntu

[2016-06-22 22:35] aleprovencio commented on #626
I think I'm ready to put on production my first cookiecutter/docker/letsencrypt setup!

@mirskiy, everything seems to be working now, thank you so much for you efforts!

And of course all you guys involved, you rock!

[2016-06-23 03:00] pydanny commented on #640
I don't know for certain if Docker is the lead in the deployment market for Django. However, we do prefer it here in Cookiecutter Django.

[2016-06-23 11:53] mingot opened #642 "runtime.txt wrong for python 2"
runtime.txt contains an empty first line when using python-2.7.10 that causes heroku to fail

[2016-06-23 23:00] pydanny commented on #642
Confirmed and corrected.

[2016-06-23 23:00] #642 closed

[2016-06-24 12:59] cgaspoz opened #643 "Add GPLv3 in the choice of licences"
When choosing a licence, we are provided with the following choices:
[code]
It would be nice to be able to select a GPLv3 licence too.

[2016-06-24 13:02] pydanny commented on #643
We accept pull requests. Why not submit one and get contributor status?

[2016-06-24 18:58] aleprovencio opened #645 "timezone on containers"
Currently timezone is already set on django settings but not on containers :/

[2016-06-24 20:40] #643 closed

[2016-06-24 20:45] #574 closed

[2016-06-25 13:55] resakse opened #647 "git clone suggestion for webpack"
hi, thanks for making this..but can I suggest using https for git cloning webpack instead of ssh?
thanks!

[2016-06-25 14:33] luzfcb commented on #647
@resakse Nice catch.
Clone via ssh is a problem if you still know little git and / or have not set up your ssh keys to use git and github.

[2016-06-25 14:37] luzfcb commented on #647
@resakse Thanks. fixed on https://github.com/pydanny/cookiecutter-django/commit/206fcc6d6dd34e87ec3ed2c0faeff3784a98a4e9

[2016-06-25 14:37] #647 closed

[2016-06-28 01:18] kappataumu opened #655 "Status of NewRelic support"
Decided to take a stab at #604 and update the documentation on project generation options while I'm at it, when I came across f40f30445799176a12628d89d66a90ddf4bc459b which confused me regarding NewRelic support. Has it been removed or am I missing something painfully obvious?

[2016-06-28 01:22] pydanny commented on #655
Newrelic support has been removed. There's no need for it if we have Opbeat.

[2016-06-28 01:23] #655 closed

[2016-06-28 16:20] aleprovencio opened #658 "consider hosts managed though docker-machine"
This project seems to suggest that docker deploys are based on a workflow where the user logs on the host, pulls code from a git repository and from there runs the docker-compose commands.  I'm using a different approach using docker-machine to just change the active machine to production and do the docker commands.

Using cookiecutter-django on such setup where should I put the supervisor config

[2016-06-29 02:37] jeffshek commented on #550
@Eraldo  - To get around your second issue, what I changed on travis.yaml
[code]
separating out configuration settings to its own file, ie. production, etc /config/production, config/staging config/testing.

and in app determining locations include
[code]

[2016-07-06 14:05] valerymelou commented on #631
Thanks @luzfcb , edited.

[2016-07-07 19:05] functionallyliterate opened #666 "Anymail: Domain Not Found Error"
Hi,

Just wanted to report a bug with the anymail integration. I attempted to use anymail and mailgun in production the other day and kept receiving a "Domain Not Found Error". According to the anymail docs, it automatically pulls the domain from the sender (From) address domain. So if your sender address is "noreply@xyz.com", it pulls just xyz.com and not the full domain (with mailgun subdomain)

[2016-07-07 22:42] aleprovencio commented on #666
That's odd @mbreisch I don't face these problems you mention. Could this be a DNS Records issue?

[2016-07-08 00:01] anthonysutardja commented on #602
This sounds like something that could be solved with modifying the command in the docker-compose file.

https://github.com/vishnubob/wait-for-it

Maybe placing this file (`wait-for-it.sh`) in the `utilities` directory could be useful? The script waits for the host and port to spin up (with a timeout) before exiting. The command in docker-compose would then be changed to the following:

[code]

[2016-07-08 00:34] mbreisch commented on #666
@aleprovencio perhaps. But, while following the docs for setting up mailgun I remember it explicitly recommending using a subdomain for the DNS Record required. I followed those recommendations and set it up, with mailgun.mydomain.com. I think anymail expects your DNS Records to have a CNAME for the root domain for mailgun not a subdomain.

[2016-07-08 05:18] OkuraSt commented on #637
I´m not using docker, just webpack on a windows machine, and having this same error. First I changed the start script adding SET to NODE_ENV and it was able to start without errors, but when I request any route it fails. Any advice?
Thanks

[2016-07-08 11:02] aleprovencio commented on #666
I've successfully set mailgun with Route 53, setting the suggested values on the domains:

    * txt: mydomain.com and k1._domainkey.mydomain.com
    * cname: email.mydomain.com
    * mx: mydomain.com

Hope this helps!

[2016-07-08 11:23] luzfcb commented on #666
@mbreisch @aleprovencio or someone, you have managed to configure mailgun/cookiecuter-django to work without a custom domain ( only using a herokuapp subdomain )

[2016-07-08 11:34] aleprovencio commented on #666
@luzfcb , can't tell about that because I don't heroku, but as you see my settings above I don't use a mailgun subdomain on DNS Records.

[2016-07-08 12:35] mbreisch commented on #666
@aleprovencio I think I misspoke before regarding the CNAME record, I meant TXT record--it was a long day, I edited that post. I did not set the CNAME or mxrecords as they are optional, I did not need  email tracking or receiving through mailgun. My DNS is Cloudflare and my records for mailgun are:
`txt: mailgun.mydomain.com and k1._domainkey.mailgun.mydomain.com`.

Thanks for posting your DNS rec

[2016-07-08 16:37] aleprovencio commented on #658
Well I've stopped using docker-machine because it felt silly in a lot of ways so I'm closing this.

[2016-07-08 16:37] #658 closed

[2016-07-08 16:38] goldhand commented on #637
@OkuraSt I'm not familiar with windows machines so any troubleshooting you do would be helpful information to make this webpack setup work better with windows.

That's react-router intercepting the routes. There's a redirect you can remove in `routes.js` that will stop this behavior.

It might be a good idea to remove react-router from the webpack project because it really depends on how you want

[2016-07-08 17:05] aleprovencio opened #667 "Fix newlines madness"
Depending on the options used for the project generation, newlines added to files can mess a lot with readability and pep8.

For instance `base.txt` can get a lot of ugly newlines before the `# Your custom requirements go here` if you don't choose to work with celery, compressor and webpack.

As a jinja newbie, I tried to play with `{%- -%}`, `{%- %}` and `{% -%}` mentioned [here](http://jinja.poc

[2016-07-11 08:39] lioman commented on #626
The certificates are generated but nginx container crashes, after certbot container is shut down.

[2016-07-11 19:39] aleprovencio commented on #626
Even after doing everything I described here https://github.com/pydanny/cookiecutter-django/issues/626#issuecomment-227857208 ??

[2016-07-13 16:02] aleprovencio opened #670 "Fix SuspiciousOperation errors"
As @pydanny already predicted such problems here https://github.com/pydanny/cookiecutter-django/pull/319, i think we have to choose to silence these errors by configuring either the [logger](http://stackoverflow.com/questions/15238506/djangos-suspiciousoperation-invalid-http-host-header/17477436#17477436) or the [webserver](https://docs.djangoproject.com/en/1.9/topics/logging/) .

[2016-07-13 17:44] pydanny commented on #670
Silencing errors is never a good idea. Perhaps you meant to turn my notes from #319 into an issue?

[2016-07-13 22:34] aleprovencio commented on #670
I agree silencing them is not a good option, but then I think the suggested config for nginx is not about silencing, and seem viable; plus, I can't find a way to improve the logging for this case.

[2016-07-14 23:56] waqasraz opened #673 "Certbot Issue"
I am getting authentication failed for certbot. after I run docker-compose build I can see Nginx-secure.conf by going into nginx using `docker-compose run nginx bash` contain example.com as domain somehow the file start.sh is not running when I am building. And I haven't seen the file "start.sh mentioned"

[2016-07-15 10:28] yunti opened #674 "custom user model doesn't specify USERNAME_FIELD"
The custom user model in user.models doesn't specify a USERNAME_FIELD, which from reading the django docs implies that this is required?

"your model must have a single unique field that can be used for identification purposes. This can be a username, an email address, or any other unique attribute."
and make that the identifying field via `USERNAME_FIELD`

Should this be added to the custom user

[2016-07-15 11:00] jayfk commented on #674
Could be wrong here, but I think allauth sets that up for us.

[2016-07-15 12:21] yunti commented on #674
Ah see it now we're subclassing `AbstractUser` rather than `AbstractBaseUser` and it's set up in there.

[2016-07-15 12:21] #674 closed

[2016-07-15 14:54] hasancansaral opened #675 "Django Cookiecutter Production Login Fails With No Explanation/Log"
I am struggling to take my Django project live using Docker on DigitalOcean where I use [Django cookiecutter][1]. Everything works fine in development (where I don't use Docker, but a simple virtualenv and a local instance of Postgres) But in production when I submit the login form, if there's an error (the user cannot be authenticated) then I get the message produced by allauth, but if the login

[2016-07-15 19:14] #673 closed

[2016-07-15 21:35] waqasraz commented on #675
I think I am just in the same spot. whenever I try to log in I get 502 Bad Gateway.

[2016-07-15 23:43] pydanny commented on #675
@jayfk Any ideas?

[2016-07-16 09:55] jayfk commented on #675
What is `docker-compose ps` and `docker-compose logs` telling you?

[2016-07-16 15:08] pydanny commented on #675
Also, are you trying to serve with HTTP and not HTTPS?  If you try to serve HTTP in production then your cookies won't be saved and you may get the results you've encountered.

[2016-07-16 18:03] jeffshek commented on #591
Sorry, it has been stupid busy, but I have this bookmarked and every few days I remind myself of the guilt that I didn't do this yet! I'm going to take a look into this week to give it a shot (if not already done)

[2016-07-18 06:54] hasancansaral commented on #675
Sorry we were having a little coup d'etat issue here in Turkey so I was not able to spend some time on it, I will post the logs and update the issue within today.

[2016-07-18 18:43] pydanny commented on #675
@hasancansaral I hope everything is okay with you and your family. Take your time, we'll be here.

[2016-07-20 14:30] hasancansaral commented on #675
@pydanny Thanks for your wishes, we are all safe now.

Here are the `docker-compose logs django` results:

[code]

Following this is a couple of `Invalid HTTP_HOSTS header` ERRORs from regular port scans, I guess everything is pretty normal at this point.

Here is the output for `docker-compose ps`:

[code]

Again, I am assuming it to be normal (except for the port mapping on postgres service-whic

[2016-07-20 14:48] hasancansaral commented on #675
Oh stupid me. I was trying to serve over HTTP, but forgot to comment out `CSRF_COOKIE_SECURE = True`.

So making these for lines from:

[code]

to:

[code]

resolved the issue. @jayfk Thank you for your time and @pydanny, thanks for pointing me at the right direction. I guessed it was a user fault. :yum:

[2016-07-20 14:48] #675 closed

[2016-07-20 17:26] jayfk opened #679 "debug_toolbar incompatible with sqlparse version 0.2.0."
Going to pin it to `0.1.19`, see https://github.com/django-debug-toolbar/django-debug-toolbar/issues/852 for details.

Temporary Workaround in  5ca39c4d864923bc51490504987efbf507aa8e57

[2016-07-21 09:31] jayfk commented on #679
Fixed in #680

[2016-07-21 09:31] #679 closed

[2016-07-23 17:54] jamespacileo commented on #626
We might have to keep this issue open, a patch needs to go in the repository :)

@aleprovencio Let me see if I got this right... we need the following:

- `CMD /start.sh` in the Dockerfile

- Explicitly add all environment variables pertaining the django and certbot containers, as compose v2 doesn't support auto-generated envs anymore

[2016-07-24 12:16] aleprovencio commented on #626
Here you go:

* CMD /start.sh in the Dockerfile
* remove the `location /.well-known/acme-challenge` blocks from nginx-secure.conf
* make the changes for nginx.conf and start.sh provided [here](https://github.com/pydanny/cookiecutter-django/pull/636/files)

[2016-07-24 16:16] qasimalbaqali opened #687 "Error when setting up cookiecutter: 'ascii' codec can't decode byte 0xe2 in position 0: ordinal not in range(128)"
This is the traceback that I get when trying to set up cookiecutter project:

[code]

Tried to search around, and nothing came up that would solve it. Any ideas by anyone that encountered such a problem?

[2016-07-24 16:47] luzfcb commented on #687
@qasimalbaqali
Whats is your:
1 - python version: `python2 --version`
2 - cookiecutter version: `cookiecutter --version`
3 - the error occur if you install cookiecutter on python3 virtualenv and try again to run cookiecutter?
4 - what is the output of `cookiecutter --verbose https://github.com/pydanny/cookiecutter-django.git`

[2016-07-24 17:11] qasimalbaqali commented on #687
@luzfcb using virtualenv python3 fixed it!

[2016-07-24 17:15] luzfcb commented on #687
@qasimalbaqali ok, but cookiecutter should work with python2.
you could provide information about questions 1, 2 and 4

[2016-07-25 12:58] qasimalbaqali commented on #687
@luzfcb I'll to recreate the problem later and will post the answers for those questions 👍

[2016-07-25 12:59] jayfk commented on #687
Looks like your path contains non-ascii characters. Could you run `ls -la` in the directory where you place your cookiecutter projects?

[2016-07-25 13:03] jayfk commented on #687
I'm sorry, I meant `pwd`.

[2016-07-25 13:05] qasimalbaqali commented on #687
@jayfk
[code]

[2016-07-25 13:10] jayfk commented on #687
hmm, this looks right. Out of ideas :/

[2016-07-25 13:14] qasimalbaqali opened #692 "ImportError: No module named when trying to set-up 3rd party package."
Trying to install and setup django-admin-timestamps. I already installed it through pip and using `pip freeze` I can see it is installed in my virtualenv

[code]

and of course I put the package name under common.py settings

[code]

but when I try to run `makemigrations` I get the following traceback error:

[code]

It happened earlier when I tried to register my own app the one that was created

[2016-07-25 13:20] qasimalbaqali commented on #692
This is just a stupid mistake by me, I don't need to add djang-admin-timestamps as a package to the INSTALLED_APS I can just directly use it through importing it. Ignore me lol

[2016-07-25 13:20] #692 closed

[2016-07-25 23:17] mirskiy commented on #626
@jamespacileo You can use the names of the containers instead of the env. vars (see #636 ) - docker's new networking handles the name resolution.

The problem is nginx isn't happy if one of the upstreams isn't up. After we run with the initial nginx.conf and run certbot, we restart with the nginx-secure.conf but certbot is no longer up. Since nginx-secure.conf references certbot (and it needs to i

[2016-07-27 16:51] #687 closed

[2016-07-27 16:53] qasimalbaqali opened #697 "Best way to set up Mailhog after initial cookiecutter set up?"
I mistakingly forgot to mark Y for Mailhog in the initial installation of cookiecutter for my project. What's the best way to set it up now? Is there any example laying around how Mailhog was set up with cookiecutter?

[2016-07-27 16:54] qasimalbaqali commented on #697
Asking on twoscoops.academy is a better place, sorry :)

[2016-07-27 16:54] #697 closed

[2016-07-27 21:33] shultz opened #698 "Escape single quotes in author_name and description fields"
There seems to be an issue with cookiecutter-django when you try and use single quotes (apostrophes) in the description or author name fields.

I saw that https://github.com/pydanny/cookiecutter-django/issues/251 was closed saying it was an issue with cookiecutter and not the template. I opened https://github.com/audreyr/cookiecutter/issues/775 on the cookiecutter repo, but found that cookiecutter

[2016-08-01 19:28] luzfcb opened #703 "Update to Django 1.10"
Checklist:

- [x] Before update to Django 1.10, create a git tag to current version of cookiecuter-django
- [ ] Check if all dependencies officialy work with Django 1.10( if not, wait)
- [x] Check that the tests pass on Django 1.10
- [ ] Check that the tests pass on Django 1.10 with zero deprecation warnings messages: https://docs.djangoproject.com/en/1.10/howto/upgrade-version/#resolving-deprecat

[2016-08-01 19:36] ssteinerx opened #704 "Command in Dockerfile-dev throws error and stops on startup"
manage.py runserver_plus: error: unrecognized arguments: 0.0.0.0:8000

Running:
[code]
From the command line gives an identical error.

[2016-08-01 19:55] ssteinerx opened #705 "Dockerfile-dev -- no initial migration leaves app inoperable"
On the first:

      docker-compose up

the Postgres database is completely empty and the app, obviously, can't do much.

Somewhere (after Postgres has gotten its act together), we'll have to run:

    python manage.py migrate

I'll try it by hand for now due to #602.

[2016-08-01 20:14] ssteinerx commented on #705
Running:
    d exec -ti propgen_django_1  /bin/bash

Gets me a shell, but trying to run the migration manually with:

    python manage.py migrate

Gives this:
[code]

[2016-08-01 20:17] jayfk commented on #705
Check the docs on [running management commands](https://cookiecutter-django.readthedocs.io/en/latest/developing-locally-docker.html#running-management-commands).

Just run

[code]

[2016-08-01 20:17] #705 closed

[2016-08-01 20:19] jayfk opened #706 "Update docker docs"
Docker for Mac/Windows is the new thing. We should update the docs accordingly.

[2016-08-01 20:40] ssteinerx commented on #705
Sorry, missed that.

[2016-08-01 21:01] ssteinerx commented on #706
I can help with this though the lack of good mapping between the OS X and Debian/Ubuntu makes it so you have to use weird paths with everything e.g. you can't use /var/... on OS X which is the 'normal' place for things on Deb/Ubuntu.

[2016-08-01 21:02] ssteinerx commented on #704
Also reported here as their docs indicate that this should work:
[https://github.com/django-extensions/django-extensions/issues/935](https://github.com/django-extensions/django-extensions/issues/935)

[2016-08-01 21:04] ssteinerx commented on #704
The command line help also no longer shows the parameter, only a bunch of flags.  I tried to work around using the `RUNSERVERPLUS_SERVER_ADDRESS_PORT`, but it is also ignored.

[2016-08-01 22:32] ssteinerx commented on #704
This has been fixed in the master branch of django-extensions, but is broken in the released version rendering this inoperable in the current cookiecutter-django release which pulls in the borken django-extensions release.

[2016-08-02 13:07] ssteinerx commented on #703
Generated layout works on Docker other than #704 opened 18 hours ago by ssteinerx

[2016-08-02 13:59] ssteinerx commented on #703
Pycharm container also crashes.

[2016-08-02 14:03] ssteinerx opened #707 "Docker pycharm container crashes immediately on startup with no output"
Just `exited with code 0`, not sure what it's supposed to be doing.

[2016-08-02 14:04] luzfcb commented on #707
Whats is the Pycharm version

[2016-08-02 14:15] ssteinerx commented on #707
2016.1.4, but I haven't done anything to attempt to integrate it with the Docker containers; not even sure what I'm supposed to do, if anything.  PyCharm is running, but that's all.

[2016-08-02 20:21] audreyr commented on #703
Verified that the tests pass on 1.10

[2016-08-02 20:55] audreyr commented on #703
Dependencies that are Django version-dependent:

- [ ] django-environ
- [ ] whitenoise
- [ ] django-braces
- [ ] django-crispy-forms
- [ ] django-floppyforms
- [ ] django-model-utils
- [ ] django-allauth
- [ ] django-autoslug
- [ ] django-redis
- [ ] django-coverage-plugin
- [ ] django-extensions
- [ ] django-test-plus
- [ ] factory_boy
- [ ] django-debug-toolbar
- [ ] pytest-django

Check off eac

[2016-08-03 00:09] #556 closed

[2016-08-03 00:40] aleprovencio opened #708 "Update RAVEN_CONFIG to support 'releases'"
I'm already trying that [here](https://github.com/getsentry/raven-python/issues/797) so any help is welcome.

[2016-08-03 00:42] audreyr commented on #704
This is specific to Django 1.10, right (not 1.9)?

[2016-08-03 11:41] ssteinerx commented on #704
No, the django-extension pulled in by the requirements file does not handle the ip:port parameter.  This has been fixed in the `master` branch of `django-extensions`, but is broken in the most recent release.

[2016-08-03 18:14] audreyr opened #710 "Set CONN_MAX_AGE in DATABASE_URL"
[CONN_MAX_AGE](https://docs.djangoproject.com/en/1.9/ref/databases/#persistent-connections) defaults to 0. I think it would be nice for us to be more opinionated about it, setting it to a non-zero value by default.

[StackOverflow](http://stackoverflow.com/questions/19937257/what-is-a-good-value-for-conn-max-age-in-django) suggests 60, [RevSys](http://www.revsys.com/blog/2015/may/06/django-perform

[2016-08-03 18:54] jayfk commented on #703
django-model-utils is not ready, see the latest change log in #709

[2016-08-03 19:03] jayfk commented on #703
django-extensions is not ready, see https://github.com/django-extensions/django-extensions/pull/934

[2016-08-03 19:11] jayfk commented on #703
django-test-plus is not ready, see https://github.com/revsys/django-test-plus/pull/45

[2016-08-03 19:12] jayfk commented on #703
django-debug-toolbar is not ready, see https://github.com/jazzband/django-debug-toolbar/pull/864

[2016-08-04 03:08] aaj opened #711 "Babel/Webpack related error at npm start"
Running the setup process works fine up until the `npm start` command where I get the following error:

[code]

I'm on windows, python 2.7.

[2016-08-04 14:31] jayfk opened #713 "Switch to a .dockerignore blacklist instead of whitelisting"
Currently, we use a whitelist to tell the docker deamon to ignore all `.*` files except:

[code]

I think it's better to be explicit about what shouldn't be sent to the docker deamon and make a blacklist:

[code]

Why? Because it's super hard to debug. I was spending an hour figuring out why my node container was crashing. Hint: `.eslintrc` and `.eslintignore` were ignored :)

Thoughts?

[2016-08-04 15:55] hasancansaral opened #714 "Cannot stop getting multiple emails on ERRORs"
Hi, as far as I can see the project is configured to send an email to the site admins on every HTTP 500 error when `DEBUG=False`. Additionally when I configure Sentry, I am also getting emails from Sentry. I am trying to stop emails I am getting from Django logger (at lease the `DisallowedHost` ones) by changing:

[code]

to

[code]

but to no use. What am I doing wrong? Would removing `mail_admin

[2016-08-05 09:30] jayfk opened #717 "apps.UsersConfig prevents celery task autodiscovery"
Celery tasks that are created in `users/tasks.py` are not picked up automatically.

Probably because the `users` app is added to `INSTALLED_APPS` by pointing to the `UsersConfig` class instead of loading the module.

[2016-08-05 17:13] jangeador commented on #558
I am still having problems with this. Can someone please provide me with a working example of a task using the configuration in the cookiecutter-django project. Also, it will be nice to have an example of a task using the celerybeat. Thanks in advance.

[2016-08-05 19:48] paulalbrecht commented on #711
Can confirm on Ubuntu 16 python 2.7

[2016-08-05 20:23] pydanny commented on #717
You have to use explicit task discovery in the settings, specifically:

[code]

Adding that as a setting doesn't work, but perhaps we should document it.

[2016-08-05 20:25] pydanny commented on #711
ping @goldhand

[2016-08-07 06:18] kjg531 commented on #711
I just encountered this as well, same error. Seems for me @paulalbrecht workaround did not solve my issue.

[2016-08-07 13:30] tkovalsky opened #721 "Jinja2 license issue prevents installation using all default settings."
when trying to start a cookie cutter project using all default settings, I receive a ./LICENSE error.

| => cookiecutter https://github.com/pydanny/cookiecutter-django
You've cloned /Users/dev/.cookiecutters/cookiecutter-django before. Is it okay to delete and re-clone it? [yes]: yes
Cloning into 'cookiecutter-django'...
remote: Counting objects: 7253, done.
remote: Compressing objects: 100% (10/1

[2016-08-07 14:10] luzfcb commented on #721
@tkovalsky which cookiecutter version and which way you installed it?

This project requires cookiecutter version> = 1.4

try update the cookiecutter:

[code]

[2016-08-08 12:58] darwin4031 commented on #711
because :
[https://github.com/babel/babel/blob/master/CHANGELOG.md#loose-and-modules-options-for-babel-preset-es2015-3331-3627](url)

change .babelrc preset:
from :
`"presets": ["es2015-webpack", "stage-0", "react"],`

to:
`"presets": [["es2015", {"modules": false}], "stage-0", "react"]`

and stop using es2015-webpack preset

[2016-08-08 23:06] shevitz commented on #490
I'm also a cookiecutter newbie and agree how to use the .env file is not obvious.

Where is the best practices place to put the .env file? Where sample.env is? in config/settings/, outside of the repository?

Also where to read the .env file. In common.py, local.py, or someplace else?

thanks

[2016-08-09 22:56] IntelBob commented on #490
Yeah, this definitely needs better documentation especially for someone who is new to Django. It took some trial and error to figure out that I have to add `env.read_env(ROOT_DIR('.env'))` to `common.py`. For the uninitiated, add it after this line `env = environ.Env()`.

[2016-08-09 23:11] pydanny commented on #490
@Intelbob, while you're code works, the .env file is meant to be read by configuration tools as environment variables, not read directly in the python code. It's meant to provide a seperation of concerns for Docker-powered tools, not as a general coding method.

Sigh. This needs to be documented better. The problem is lack of free time. :(

[2016-08-09 23:12] pydanny commented on #490
@shevitz, .env is meant for user with Docker. If you aren't using Docker, you should be seeing environment variables locally or via configuration management tools.

[2016-08-09 23:14] pydanny commented on #490
Ping @jayfk, any thoughts? Am I correct about seperation of concerns,?

[2016-08-09 23:18] IntelBob commented on #490
@pydanny good to know but how would I do that again? Keep in mind I'm a Django newbie :)

[2016-08-10 10:13] Eraldo commented on #490
**django vs sys-admin**
@IntelBob As I see it, what @pydanny is referring to is that the where/how you set the specific django settings is not related to your "django" knowledge level.. but rather a sys-admin matter.

**in other words**
In other words: if I am a newbie when it comes to environment variables and how to set them, I might have difficulties configuring django in the desired way -- how

[2016-08-10 16:44] shevitz commented on #490
thanks @pydanny for the clarification. I ended up implementing what  @IntelBob suggested independently. Now I find out differently. I'm ok with environment variables, it's just there are lots of places to set them on my dev box. I can set them in .bashrc, .activate, .postactivate. My guess is that best practices is in .postactivate. I'm already setting stuff there.

[2016-08-10 17:00] IntelBob commented on #490
@Eraldo thanks for the lengthy explanation, yes I got the sysadmin part after playing around with it some more. Since I am new to Django and its vast ecosystem, it's hard initially to tell what's what until I learn more about each component. What's also partly confusing is the [environ documentation](https://django-environ.readthedocs.io/en/latest/) that has code sample with `environ.Env.read_env(

[2016-08-11 02:07] mekhami opened #729 "Heroku 'Deploy Button' does not account for optional config variables."
As the title says. I tried to deploy by clicking the Heroku Deploy button (which is just amazing btw, go heroku.) Through the process I was prompted to set several more config vars. Unfortunately, on the heroku page that opens up you can't add new config vars, you're restricted to the preset ones that are sent with the button. I don't know how you made all that magic work, but it prompted me for O

[2016-08-11 06:36] j127 commented on #721
Thanks. I had the same error. Updating cookiecutter fixed it.

[2016-08-11 12:32] jayfk commented on #704
Should be good now, see https://github.com/pydanny/cookiecutter-django/pull/725

[2016-08-11 12:32] #704 closed

[2016-08-11 14:46] arcanewater opened #733 "Cookecutter with Visual Studio"
Has anyone tryed it to get it properly working with VS and Python tools? Are there any plans to make a option like there is for pycharm?

[2016-08-11 15:09] luzfcb commented on #733
@arcanewater
all maintainers use mainly OSX and Linux as development machine, (and from my personal experience, support any non-Microsoft tool in windows, can be an incredible headache.)
then there is no any plans to include support to another editor, because we do not have time or energy to provide non-paid support to another editor.

(unless MS or other want to pay someone to maintain the suppor

[2016-08-11 15:09] #733 closed

[2016-08-11 20:12] pydanny commented on #729
Sounds like you need to add your Opbeat and Sentry config variables on the command-line. That's done so after you install the Heroku toolbelt:

[code]

@burhan might be able to answer more completely.

[2016-08-11 20:13] pydanny commented on #733
I don't see it happening but it would be grand if @microsoft became a sponsor for this project. 😀

[2016-08-11 20:24] mekhami commented on #729
Definitely, they have to be added, but it seemed like the point of the 'Deploy on Heroku' button was to streamline that process. Currently, if you use opbeat/sentry and click the Deploy on Heroku button, deployment will fail because of those config variables and you'll be forced to do the entire process on the command line anyway.

[2016-08-12 20:13] pydanny commented on #714
`django.security.DisallowedHost` is not the same as a 500 error. I believe you'll need to add a logger to get that kind of control.

For what it's worth, I like getting two errors, one from the site and one from sentry. The reason is that Sentry can go down.If it's not working, then I still want to get notified.

[2016-08-14 23:19] goldhand commented on #711
Sorry for the delay! I've been away for a couple weeks.

@darwin4031 do you not get an error when you use `{"modules": false}`?

You're solution should work since `babel v6.13.0` was released and [`babel-preset-es2015-webpack` was depreciated](https://github.com/gajus/babel-preset-es2015-webpack/tree/43b22a51ef98b060232b0b3797facc9d30337b02#deprecated) but I'm getting an error when I add this fix:

[2016-08-14 23:47] goldhand commented on #711
Never mind about all that clutter, I forgot the extra brackets. :sob: this is [fixed now](https://github.com/hzdg/cookiecutter-webpack/commit/1c80a24088c7540ad11212641c3679925d6e7770)

[2016-08-16 19:52] #721 closed

[2016-08-16 20:01] #602 closed

[2016-08-16 22:18] pydanny opened #737 "django-compressor doesn't always work on Windows"
It uses [rcssmin](https://github.com/ndparker/rcssmin) which uses C extensions in order to optimize minification. This can break for Windows users.

Options:

* Leave django-compressor in, but filter out windows users (makes me not happy)
* Find a non-C extension version of django-compressor (not likely)
* Make it possible to use django-compressor without a C compiler
* Get the maintainers to uplo

[2016-08-17 14:43] Parbhat opened #738 "Gulpfile has some issues"
There are some issues in Gulpfile

- The `runServer` task is not working properly because of this BrowserSync server goes to infinite loading. The problem is the runServer task is using `exec` from `gulp-exec` library. `gulp-exec` library is not required as mentioned in its [docs](https://github.com/robrich/gulp-exec) - "Note: If you just want to run a command, just run the command, don't use this

[2016-08-19 08:21] spoetnik opened #743 "rcssmin==1.0.6 --install-option="--without-c-extensions" Fails"
Running "docker-compose -f dev.yml build" fails.
     error: option --without-c-extensions not recognized

      Running setup.py install for django-appconf: started
        Running setup.py install for django-appconf: finished with status 'error'
        Complete output from command /usr/local/bin/python3.5 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-o1djbqqe/django-appconf/setup.

[2016-08-19 14:08] jayfk commented on #743
I'm able to reproduce this with `use_compressor` == `y`.

Also, prior to installing there's the warning:
[code]

[2016-08-19 21:38] pydanny opened #747 "Change use_python2 [N] to use_python3 [Y]"
I prefer to use Python 3. The current `cookiecutter.json` module presents the older version, but with a negative default. I would rather list Python 3 with a positive default.

[2016-08-19 23:31] seanbradley opened #748 "Install on Ubuntu 14.04 via requirements/base.txt breaking on django-compressor==2.1"
Commenting out the requirement enables install to complete successfully.

[code]

[2016-08-20 00:31] luzfcb commented on #748
I believe this can be a bug in `pip` (or expected behavior `¯\_(ツ)_/¯`)

include `--install-option="anything_option_here"` does break the package installation of the first uninstalled package, immediately after the statement.

bug introduced on cookiecutter-django in https://github.com/pydanny/cookiecutter-django/commit/87bb085550df6813d9f90b0a2e1ee6c56b1e800d

related issue #743:

to reproduce is

[2016-08-20 18:00] #698 closed

[2016-08-22 03:48] aadimator commented on #707
I have exactly the same problem. No idea what to do

[2016-08-22 11:09] mariusavram91 opened #750 "Add cookiecutter-django to up-for-grabs"
What do you think about adding the project to [up-for-grabs](http://up-for-grabs.net/#/tags/django)? I see a few low-hanging-fruit issues there.

[2016-08-22 13:58] #747 closed

[2016-08-22 14:07] jayfk commented on #737
We should find a solution here as the current build is broken on docker and linux, see #748, #743.

Suggestion:

* Make `--install-option="--without-c-extensions" ` for windows users only (for now).
* Check options 2+3 and go on from there.

[2016-08-22 14:36] #737 closed

[2016-08-22 14:37] pydanny commented on #737
I made `--install-option="--without-c-extensions"` be for Windows users only.

[2016-08-22 14:37] pydanny commented on #748
I think this is resolved in d98bbcd70e926016bc526a2083d158440ac29de5. Please confirm.

[2016-08-22 14:38] pydanny commented on #743
I think this is resolved in d98bbcd70e926016bc526a2083d158440ac29de5. Please confirm.

[2016-08-22 14:38] luzfcb commented on #737
@jayfk

This solve the problems to linux/mac users, but not completely solve to windows users.

I think `--install-option="--without-c-extensions"` will also break on windows, because the problem is `pip`.

Apparently `--install-option =" - without-c-extensions "` is applied to all next packages to be installed and not only ` rcssmin`.

[2016-08-22 14:42] pydanny commented on #750
The problem Cookiecutter Django has is not with finding people to work on low hanging fruit, but with the core devs having the time to properly review and shepherd pull requests. In my opinion, putting this project on a pull request advertising site is arguably going to add to our workload. Therefore, at this time, I am opposed.

Any thoughts @jayfk @audreyr @burhan @theskumar @luzfcb?

[2016-08-22 14:53] mariusavram91 commented on #750
Understandable!

Sorry for putting this on both Cookiecutter projects.

[2016-08-22 17:10] luzfcb commented on #750
@pydanny
I agree, since in recent months, I have almost zero of free time to opensource

[2016-08-22 18:17] burhan commented on #750
Regrettably I too have become busy with some work commitments and having
this would be a bit much. Agree with @pydanny

On Mon, Aug 22, 2016, 8:10 PM Fábio C. Barrionuevo da Luz <
notifications@github.com> wrote:

[2016-08-22 19:54] seanbradley commented on #748
I was able to solve the problem with installing django-compressor==2.1 on Ubuntu 14.04 (Trusty) after upgrading my python3 header files and a static library via...

sudo apt-get install python3-dev

This may have also been the cause of earlier problems related to installing psycopg2 in cookiecutter-django requirements.

[2016-08-23 06:10] Parbhat commented on #743
@pydanny there is a small error in d98bbcd . `{% if cookiecutter.windows %}` should be `{% if cookiecutter.windows == "y" %}`.

[2016-08-23 06:25] jayfk commented on #743
fixed in https://github.com/pydanny/cookiecutter-django/commit/5dc41812d50d958a3df2ab0e8b919b95c6581501

[2016-08-23 06:25] #743 closed

[2016-08-23 08:15] spoetnik commented on #748
Confirmed this issue is fixed. Thanks!!

[2016-08-23 08:16] spoetnik commented on #743
Confirmed issue is resolved.
Thanks!

[2016-08-23 09:20] jayfk commented on #706
@ssteinerx `dev.yml` and `docker-compose.yml` both use named volumes, so this shouldn't be a problem.

[2016-08-23 13:16] ssteinerx commented on #706
Yes, but you have to either use non-standard locations or different files for OS X and e.g. Debian.

[2016-08-23 18:07] #748 closed

[2016-08-24 18:48] audreyr commented on #738
Sorry for the delay @Parbhat. A PR for this would be really great.

[2016-08-25 07:35] Parbhat commented on #738
@audreyr Great. Sending the PR..

[2016-08-25 08:01] theskumar commented on #750
Since most of the core-maintainers (including me) not in support, closing this ticket for now.

[2016-08-25 08:01] #750 closed

[2016-08-25 08:07] theskumar commented on #710
I would go with 1min, as 10mins way to much for default, having a larger value can have hard to debug issue, soaking up db connection limit.

With 1min:
1) we are providing a placeholder which people can see and update as needed (still better if configurable with env variable)
2) 60sec is a decent for moderately crowded site.

[2016-08-25 23:29] moas opened #758 "Slugify function"
Slugify function installed not permit to change space remplacement character by other than '-'

[2016-08-26 01:35] pydanny commented on #758
So... Um... How is this a Cookiecutter Django issue?

[2016-08-26 16:07] pydanny commented on #758
Upon looking at this issue, it appears we're using Mozilla's unicode-slugify instead of the much more powerful https://github.com/dimka665/awesome-slugify. We should be using the latter.

[2016-08-27 06:20] vmitinskiy commented on #637
@jayfk do you found way to use docker with webpack together? Can you tell me how to do this or show me config files? I mean

Thank you.

ps sorry for my English

[2016-08-27 10:43] #738 closed

[2016-08-28 18:04] pydanny commented on #703
@jayfk, the following libraries are now ready and marked as such in the checklist:

* django-model-utils
* django-extensions
* django-test-plus
* django-debug-toolbar

[2016-08-29 07:58] jayfk commented on #703
👍

[2016-08-29 17:31] luzfcb commented on #703
django-braces test suit passes on Django 1.10
https://github.com/brack3t/django-braces/pull/212

[2016-08-31 05:23] wiredmind opened #762 "Fresh Docker development environment throws builtins.KeyError"
After many a try with fresh installation (removed all Docker containers, images, and volumes, rm -rf project_name) Django container invariably throws:
[code]
while visiting `/`,`/about`,`/users`,`/accounts`, Django admin pages work as expected.

Running on Mac OS X 11.11.6
Docker Version 1.12.0-a (build: 11213)
Cookiecutter version: 1.4.0
Local Python Version: 3.5.2
Pip Version: 8.1.2
Cookiecutter

[2016-08-31 10:13] jayfk commented on #762
If you choose to run with Webpack, you need to launch the webpack process outside of docker (there isn't a integration, yet).

[2016-09-01 04:18] wiredmind commented on #762
Yep, webpack is running along with `npm run dev` and `webpack-stats.json` present in project root folder.

[2016-09-01 12:17] hasancansaral commented on #623
@pydanny I don't know if it is related to `./manage.py collectstatic` but in my case (AWS EC2 micro instance) `docker-compose build` takes around 30+ minutes.

After `Building django` is printed, it waits for that much until it proceeds to the Dockerfile's contents. Any thoughts?

[2016-09-02 11:25] hasancansaral commented on #380
@acquayefrank I am getting the very same error, do you mind sharing what you did (wrong) and how you resolved the issue? Thanks.

[2016-09-02 18:29] jimbofreedman commented on #762
Did you solve this? I've just hit the same problem - again am running ```npm run dev``` outside of docker.

[2016-09-02 19:19] pydanny opened #774 "Consider removing Webpack/React option"
We are getting a lot of support requests for our Webpack integration. Unfortunately, it doesn't work with all setups configurations all the time. None of the core devs of this project are that knowledgable of the toolchain, and have difficulty helping users. Community assistance with the issue has also been negligible, and we're not even sure who understands the toolchain.

Please share your opini

[2016-09-02 21:17] jayfk commented on #774
I'd love to keep support for webpack in Cookiecutter Django, but only if we find a way to provide a strong integration.

I think @goldhands work is fantastic, but a loosely coupled integration via post_gen hook is not enough in my opinion. Supporting Webpack and React/Redux pulls in a whole eco system of stuff that needs support. To make things worse, they are constantly moving (and breaking) thin

[2016-09-02 21:54] luzfcb commented on #774
@pydanny since I never use Webpack, and I only had time and reason to learn Webpack and ecosystem if the team that I work begin to use it (I do not see any chance of that happening in the short and medium term), I'm +1 to remove Webpack support from cookiecutter-django, except if someone takes responsibility to keep working integration with Webpack.

[2016-09-02 21:56] goldhand commented on #774
Awww this is sad but I understand. I've been trying to keep up with any webpack related issues but I've been a bit busy adjusting to my new employer and may have missed them. I'm still maintaining hzdg's cookiecutter-webpack but I'm no longer with them so thats another thing to consider in support of removing it.

However, if there's a way to divert those support requests to cookiecutter-webpack i

[2016-09-02 22:03] pydanny commented on #774
@goldhand, diverting support requests is only going to help so much because a lot of them are environment specific. Thanks for letting us know about your work status, as it is a factor.

Here are the options I'm considering:

1. Maintain the status quo. Try to ramp up community support for the integration.
2. Add a fork or replacement of **hzdg/cookiecutter-webpack** to someone or some group with

[2016-09-02 22:34] goldhand commented on #774
In the event of __3.__ I would be happy to write/help with the docs. I think thats a good solution too.

[2016-09-03 00:37] guillaume-miara commented on #729
As I have just played around with this ( reallly awesome! ) project, with complete fresh eyes - and new to heroku! Please let me humbly give you a few things I had stumbled upon in the process ( see attachement)

Currently the deploy on Heroku didn't run all the necessary cmds for me. I ended having to use a bash anyways.

Hope these few notes for newbes could be useful for you with the doc!

[Not

[2016-09-03 03:55] wiredmind commented on #762
@jimbofreedman no, I haven't.
This is not limited to Docker environment. I have set up a fresh project with local development environment and Webpack. Same error, but this time more debug information:
[code]

[2016-09-04 08:26] theskumar commented on #774
__TLDR; let Frontend community do their work and we do what we are best at, use webpack-loader to provide just basic integration with the output bundle, don't get hands dirty with all the things possible with webpack/gulp/etc.__

Over the time, using grunt to django-compressor to gulp, the coming of django-webpack-loader is one the best thing to happen with Django asset management. I would strongl

[2016-09-04 17:52] #758 closed

[2016-09-05 07:00] Afrowave commented on #774
Thank you very much guys, for all the hard work.

As a Frontend web dev, I must say I have followed the grunt/gulp/webpack journey, not forgetting the shift to ES6. Frontend has become a "monster" in itself. To help me keep my Frontend and Backend concerns separated, I use CodeKit and there is an upgrade in the works - [CokeKit 3.](https://incident57.com/codekit/3/). FYI, the integration with Subl

[2016-09-05 15:47] ssteinerx commented on #774
@Afrowave The CodeKit 3 beta announcement is not dated -- how long has it been in beta?

[2016-09-05 18:21] Afrowave commented on #774
From Dec 2015. But if you know Bryan, this is not surprising. I am willing to wait.

[2016-09-06 08:23] hasancansaral commented on #380
@pydanny I don't think the issue here has something to do with Nginx configuration. I am getting this error regardless how I configure Nginx, especially for timeouts.

This occurs when I re-deploy with a new version (`docker-compose build django && docker-compose up -d`) when my containers are already running. Then the only options becomes killing the `docker-machine` host, recreating one and rede

[2016-09-06 11:15] jayfk commented on #623
Sounds weird, but try a different AWS region.

[2016-09-06 17:00] ssteinerx commented on #774
hzdg/cookiecutter-webpack is also much too heavy including react and a whole pile of `dependencies` that should be `devDependencies.`  The per-page overhead (if you could figure out how to use it) would be abominable.

It would be better to have a *very* minimal webpack setup rather than trying to be all things to all people.

I, for one, don't need the overhead of React in every application if I'

[2016-09-06 17:41] pydanny commented on #774
@ssteinerx I'm very interested in a pull request for a minimalist approach for React. 👍

In general that's the approach we like, because it's easier to maintain and allows individual project creators a foundation, not a whole framework.

[2016-09-06 17:48] ssteinerx commented on #774
I'm not talking about React, I'm just talking about a minimal functioning webpack setup!  Right now, out of the box, it doesn't work at all.

[2016-09-06 17:49] theskumar commented on #774
On Sep 6, 2016 11:12 PM, "Daniel Roy Greenfeld" <notifications@github.com>
wrote:

approach for React. 👍

Curious why react and why not just web pack for standard front-end build
with revisions, minification, etc.

Someone would might like to angular or any other framework.

and allows individual project creators a foundation, not a whole framework.

+1

[2016-09-06 18:02] pydanny commented on #774
@ssteinerx, I meant Webpack, not React. 😄

[2016-09-06 18:10] jayfk commented on #774
It's not so much about just *adding* webpack, it's about *supporting* it over time.

[2016-09-06 18:27] ssteinerx commented on #774
@jayfk At the moment, it's not at all functional.  It's one thing to support a simple bundling of files and making it simple to add others.  It's another thing entirely to support React within Django.  I don't believe that's within scope in this project -- there's so much more to it that it's worth a tutorial blog post, but I don't think it should be included as part of this project.  Having just

[2016-09-06 18:28] ssteinerx commented on #774
Also, I think maintaining dependencies with Bower is much easier and way easier to understand.

[2016-09-06 20:06] jayfk commented on #774
@ssteinerx you won't hear any counter arguments from me, as I'm completely on your side.

My only concern is that we need to provide ongoing support for it once we include it in Cookiecutter Django.

[2016-09-06 21:15] goldhand commented on #774
I'm in favor of a minimal webpack version. I wanted to make one on hzdg/cookiecutter-webpack without react etc but never got around to it.

I strongly disagree with using bower though.  NPM hosts ~320k packages compared to bower's ~50k hosted. With ~400 new packages published daily, the gap between the two continues to widen. Even if bower is easier to understand (I disagree here too) I don't thin

[2016-09-06 22:18] ssteinerx commented on #774
@jayfk -- Agreed, it has to be something we can continue to support; React ain't that at this early stage.

@goldhand -- I didn't realize the disparity was that great between Bower and NPM.  Of course, a lot of what's on NPM isn't relevant in this context but I actually use them side-by-side.  Not a big deal; it's a tiny bit of configuration to support both.

PROPOSAL:  Let's first disentangle all

[2016-09-06 22:40] goldhand commented on #774
@ssteinerx Luckily all the webpack/react stuff should be easy to remove: https://github.com/pydanny/cookiecutter-django/pull/610/commits/f036ae431ae5d7ff1f40b7665711b29e295605ba

The webpack-loader configuration will be useful if a webpack option is still offered at all by django-cookiecutter

[2016-09-06 22:43] luzfcb commented on #703
django-floppyforms still require a lot of work to run with Django 1.10

See travis-ci tests of this pull-request https://github.com/gregmuellegger/django-floppyforms/pull/178

[2016-09-06 22:53] jayfk commented on #774
@ssteinerx What branch are you referring to? We are just waiting for every package to officially support Django 1.10.

I'd say: Start with the current master and revert https://github.com/pydanny/cookiecutter-django/pull/610/commits/f036ae431ae5d7ff1f40b7665711b29e295605ba. You can open a WIP PR to discuss the implementation. If you need help with Docker, hit me up on gitter and I'll add it.

[2016-09-06 22:53] ssteinerx commented on #774
@goldhand Can you do a branch where you back that out and rebase to the current master?  That would be awesome!  I agree that we need to add this back in when as @goldhand pointed out, we have a bit of webpack 2 stability and can spool it in one little bit at a time.

Thanks for your help!

[2016-09-06 22:55] ssteinerx commented on #774
@jayfk -- I don't have repo access, can you make a "pull out webpack for now" branch and do as you suggested and let's see how it goes?

[2016-09-06 22:59] ssteinerx commented on #774
Related: what is the state of #703?

Could we pull out the webpack, update to Django 1.10.1 and pop out an updated release?

That'd be awesome as all my new projects are Django 1.10 + django-channels.

[2016-09-06 23:00] pydanny commented on #703
@luzfcb Cookiecutter Django doesn't actually use django-floppyforms. We use it, sometimes. Perhaps it behooves us to remove it as a dependency?

[2016-09-06 23:03] jayfk commented on #774
@ssteinerx I can't do that right now, I'm currently on mobile. Can't you just fork and open a PR?

[2016-09-06 23:04] pydanny commented on #703
The following work with 1.10:

* factory-boy
* django-storages-redux

[2016-09-06 23:07] ssteinerx commented on #774
@jayfk So fork, revert [f036ae4](https://github.com/pydanny/cookiecutter-django/pull/610/commits/f036ae431ae5d7ff1f40b7665711b29e295605ba) and PR onto master?

I'm suggesting we do that on a new branch which I can't create.

Can you make a "un-webpack" branch (or could anyone, please?) that I can do a PR on?

[2016-09-06 23:12] jayfk commented on #774
@ssteinerx there you go: https://github.com/pydanny/cookiecutter-django/tree/pull-out-webpack-for-now

[2016-09-06 23:13] ssteinerx commented on #774
@jayfk On it, thanks!

[2016-09-06 23:22] ssteinerx commented on #774
@jayfk -- 10 minute lesson.  Well done.

[2016-09-07 13:01] ssteinerx commented on #774
@jayfk I think the commit number you referenced was from goldhand's repo -- it doesn't exist in this repo.

Is [this](https://github.com/pydanny/cookiecutter-django/commit/8880e777d28fd68109633b32205ede39606f86dc) the one that needs to be reverted?

I don't think I've ever reverted a merge commit before...fun, fun, fun!

[2016-09-07 13:03] jayfk commented on #774
@ssteinerx yep

[2016-09-07 13:06] ssteinerx commented on #774
Travis claims this is the one it tested: https://github.com/pydanny/cookiecutter-django/commit/1b205ea0b1411653fef5e8e79d533ce821cb09d2

But that one doesn't exist at all...

[2016-09-07 13:08] ssteinerx commented on #774
Really, other than untangling the docs, removing the option for WebPack from the `cookiecutter.json` would effectively remove it...if there's no way to set the value, the code in `post_gen_project.py` will just sit there unused, not causing any troubles and there are only 11 other files the even contain `grep -i webpack`

[2016-09-07 13:09] ssteinerx commented on #774
Because the addition was (thankfully!) done by cookiecuttering in the whole @goldhand project, none of the files from that repo are in here at all.  Good way to do it, too much stuff at once.

[2016-09-07 17:25] pydanny opened #779 "Remove Heroku "Deploy Button""
Reasons:

* We get a growing number of complaints about the deploy button
* While Heroku's Deploy Button is good for toy apps with toy deployments, Cookiecutter Django is not for building toy apps
* Heroku provides us with absolutely no support. Other vendors have submitted pull requests or offered support

Note: This will not affect the rest of our Heroku configuration setup.

[2016-09-07 17:30] pydanny commented on #729
@guillaume-miara, do you want to submit that as a Pull Request in RestructuredText for our documentation? If not that, have you considered publishing your notes as a blog post?

[2016-09-07 17:32] pydanny commented on #729
@mekhami , while we are going to continue supporting Heroku, I've decided that we're going to remove the Heroku Deploy Button (#779). There's too much going on with Cookiecutter Django, and the deploy button is better used on apps that are simpler in approach.

[2016-09-07 17:32] #729 closed

[2016-09-07 21:01] yunti opened #780 "Customising authentication templates"
Django cookie cutter looks to have customised the templates from django allauth (within templates/accounts) presumably to better use crispy forms?
I assume to more precisely customise the rendering of the authentication forms (signup etc) I would alter the included templates in /account as needed?

[2016-09-08 09:17] jayfk commented on #780
That's correct.

[2016-09-08 09:17] #780 closed

[2016-09-08 13:06] ssteinerx opened #781 "Deprecation warning running tox test"
Run this:

[code]

Get this:
[code]

[2016-09-08 13:13] ssteinerx opened #782 "Debugging documentation errors is difficult, possible solution"
Due to what is apparently a mistake on a merge, it appears I have a dangling `endif` statement, somewhere in a piece of Jinja template code.  The exception is particularly obtuse:

[code]

not giving even the filename, much less the location.

Due to the complex, nested blocks of `{{% if cookiecutter.whatever %}}` inside e.g. `{{cookiecutter.project_slug}}/README.rst` it's really hard to see the s

[2016-09-09 08:10] yunti commented on #780
Thanks - I trying to pricesely control the output of the django allauth forms, to get something like:

<input id="signup-password" type="password" class="form-control login-password" placeholder="Password">

However if I just output an individual field from the signup form, eg.

{{ form.password1 }}

I dont' seem to be able to add attributes to the field without overriding the form.
How do you all

[2016-09-09 11:09] yunti commented on #780
Thanks

[2016-09-10 03:14] pydanny commented on #703
Removed django-floppyforms in 28542a91a4a5f8f3ed121182c88269da19770e02

[2016-09-10 11:33] #717 closed

[2016-09-11 09:26] christippett commented on #762
I've run into the same problem and this is what I've surmised of the issue:

There are only two entry points defined in the Webpack configuration file (main and vendor). In the base.html template there are references to three bundles (main, vendor and common). Since there is no common bundle, you get the KeyError you're experiencing.

The fix is to remove `{% render_bundle 'common' %}` from the te

[2016-09-11 11:38] ssteinerx commented on #703
@audreyr Django extensions was updated 5 days ago and now says: Django Extensions requires Django 1.8 or later and one of the recent commits says "Add Django 1.10 trove classifier" so I think that can be checked off.

[2016-09-11 11:40] ssteinerx commented on #703
Django-redis is also passing this on all supported versions of Python:

[code]

[2016-09-11 11:41] ssteinerx commented on #703
IOW, cookiecutter-django for Django 1.10 is ready to rock vis-à-vis the dependency list!

[2016-09-11 17:29] dmarcelino commented on #111
Hi @pydanny, I've been reading about cookiecutter-django and it looks like a great way to make Django production ready but my current hosting tier only allows MySQL. After stumbling on this issue I'm wondering is Postgres a hard requirement for cookiecutter-django, as in it won't work without it, or does it mean that cookiecutter-django's DB related features won't work? Thanks

[2016-09-11 17:36] ad-m commented on #111
@dmarcelino , there is only requirements and ```DATABASE_URL``` changes. I start project with cookiecutter-django and replace all postgresql-related requirements to mysql.

[2016-09-11 17:37] dmarcelino commented on #111
I see, thanks @ad-m!

[2016-09-11 20:09] jayfk commented on #703
Apparently, `django-coverage-plugin` is not ready: https://github.com/nedbat/django_coverage_plugin/issues/28

[2016-09-11 21:37] ssteinerx commented on #703
@jayfk I actually spent a couple of hours today trying to figure out how to resolve
https://github.com/nedbat/django_coverage_plugin/issues/28.

It's a very deep issue with the new template handlers and I've been away from Django long enough (last seriously involved circa 1.5ish) that while I understand the issue, I am completely unfamiliar with the changes that went in in 1.8 that completely brea

[2016-09-11 21:40] jayfk commented on #703
Good call. If this is a deeper issue, I'm in favor of dropping it for now (and watch it closely thereafter) to get 1.10 out of the door.

[2016-09-11 21:42] ssteinerx commented on #703
This is the killer issue: https://github.com/nedbat/django_coverage_plugin/issues/26

Read the IRC chat, this is going to be a bear to untangle if it even ever gets done.

[2016-09-11 21:46] ssteinerx commented on #703
Is there a way to fake  pyup-bot  out into notifying us of a change on something we're not really depending on (so we don't have to remember to check, and will be notified as soon as django_coverage_plugin has a new release?)

If so, that makes it even easier to ditch it until it's resolved as we'll have a machine watching for changes and, if they never come, it'll consume zero human-cycles.

[2016-09-11 21:49] jayfk commented on #703
We could pull it out of the main requirement files (so that it won't be installed) and place it in a separate file like `requirements_to_watch.txt` or something.

[2016-09-11 21:52] ssteinerx commented on #703
@jayfk -- you have no idea how bad I just wanted to say "Make it So", tug on my shirt, and head back to my "Ready Room" to order some [Earl Grey, hot](https://www.youtube.com/watch?v=R2IJdfxWtPM) ;-).

[2016-09-11 21:53] luzfcb commented on #703
good, simple and will work.

[2016-09-11 21:55] ssteinerx commented on #703
@luzfcb What is pyup-bot's rule?  If it begins with 'requirements`, its contents are added to the list of things to watch?  If so, this'd be perfect!

[2016-09-11 22:00] jayfk commented on #703
Exactly, done in https://github.com/pydanny/cookiecutter-django/pull/783.

Looks like we're ready, right?

[2016-09-11 22:04] ssteinerx commented on #703
Is the removal of React/WebPack merged into master yet?  I thought I saw @pydanny do that the other day, but I wasn't paying attention to where it got merged *to*.

[2016-09-11 22:05] ssteinerx commented on #703
I think he merged master to the remove-react-for-now branch, but I don't think it was merged back the other way.

[2016-09-11 22:06] luzfcb commented on #703
@ssteinerx

the rules are documented in: https://pyup.io/docs/configuration/#requirement-file-search

[2016-09-11 22:08] ssteinerx commented on #703
@luzfcb Cool.  Wasn't being lazy, would have looked it up if necessary, just knew someone here would know to make sure we let the machines do the work.

[2016-09-11 22:09] jayfk opened #784 "Plugin approach"
As Cookiecutter Django gets more and more features, it might be a good idea to pull some of these out into plugins.

This prevents bloat in the main project and makes life easier for the maintainers.

In order to make things easier to discover we could add a `plugins.json` file containing a curated list of plugins to use.

The prompt would then look something like this:

[code]

Discuss!

[2016-09-11 22:10] jayfk commented on #703
@luzfcb I should hire you :)

[2016-09-11 22:11] ssteinerx commented on #703
I can help with this:  Check PyCharm 2016.2 compatibility, with and widout docker if we've got a release candidate branch going...

[2016-09-11 22:14] jayfk commented on #703
maybe we should continue the discussion on gitter as it gets pretty noisy for everyone not involved in the release process if we continue with this passion.

[2016-09-11 22:14] ssteinerx commented on #703
@jayfk agreed, I'll find the link and head there now.

[2016-09-11 22:17] ssteinerx commented on #703
https://gitter.im/pydanny/cookiecutter-django

[2016-09-12 13:53] #706 closed

[2016-09-12 16:49] ssteinerx commented on #784
I've started working on this in a separate project though I've only started writing documentation so far.  I usually write the docs first to give me a chance to think about the problem before I start writing code.

https://github.com/ssteinerx/cookiecutter-django-mixin

[2016-09-12 18:02] jangeador commented on #784
@ssteinerx I like the name `plugin` better than `mixin`. django already has`mixins` and it could be confusing. I was reading the notes on the django channels integration pr where you started discussing this feature and it took me a while to realize that you were not really talking about django mixins.

[2016-09-12 18:54] phiberjenz opened #788 "MAILGUN_SERVER_NAME unused?"
Where is the env MAILGUN_SERVER_NAME used?

I can only find it in the env.example file and also in the "Deploy to PythonAnywhere/Heroku" and "Settings" part of the documentation.

It seems that it's not used anywhere in the code.

Is there a reason for having this env?

[2016-09-12 23:26] sglyon opened #789 "heroku deploy user login/create gives 500"
If I run the cookie cutter, follow the steps on the deploy to heroic doc page, then actually do the deployment I get a 500 error everything time I try to log in as the super user I created when following docs.

Is there something I'm missing -- perhaps additional steps that should be added to the doc page?

[2016-09-12 23:36] ssteinerx commented on #774
@jayfk This is merged, yes?  If so, please close.

[2016-09-12 23:44] ssteinerx commented on #789
In my opinion, heroku support should be moved out of the main project into a "plugin/mixin" for the very reason that this project should not be directly supporting specific deployment options but should only include a Django "best practices" template which should have "plugin/mixin"s that support the various options.

That said, what are in the various logs on Heroku?

[2016-09-12 23:55] spencerlyon2 commented on #789
I think this one is user error. When I enable debug and deploy to heroku again I see that the problem is with my email config.

Any tips on how to configure the email settings [here](https://github.com/pydanny/cookiecutter-django/blob/9f2fa4a0a91a55f2c565661556e2f55a47ad400d/%7B%7Bcookiecutter.project_slug%7D%7D/config/settings/production.py#L157-L158)?

[2016-09-13 00:04] ssteinerx commented on #784
The project is now named https://github.com/ssteinerx/cookiecutter-django-flux.

It is the goo that makes welding https://github.com/pydanny/cookiecutter-django/ projects to external dependencies less painful.

[2016-09-13 00:05] ssteinerx commented on #784
@jayfk I've now decided on the name.  It makes perfect sense -- flux is a compound that makes welding otherwise incompatible things possible with a firm weld as the result.

[2016-09-13 00:06] ssteinerx commented on #789
Is cookiecutter.domain_name set properly?

[2016-09-13 00:09] spencerlyon2 commented on #789
It probably isn't.

I think what I need to do is configure the heroku mailgun add on, but I'm not sure how to do that... I'm pretty new to building web apps, so I'm probably just missing something obvious. I'll try to keep looking.

[2016-09-13 08:21] cunhuvan opened #790 "Can't access admin site after deploy production."
When i deploy project in dev mode i can access admin site(127.0.0.0:8000/admin), but when I deploy project in production mode I can't access admin site(docker-machine-ip/admin).
Note: other function still work fine,.env setting: DJANGO_ADMIN_URL=admin
Any idea to enable admin site on production mode.

[2016-09-13 10:46] ameistad commented on #790
You could try linking to your admin in a template and see what url you get.
[code]

[2016-09-13 15:08] yunti commented on #788
It might be a hangover before things were switched to Django-anymail

[2016-09-13 18:38] jangeador commented on #790
Your `.env` file should have this line:
`DJANGO_ADMIN_URL=^admin/`

[2016-09-13 18:42] jangeador commented on #789
Because of a setting in anymail you have to make sure that the email on your config domain name matches the subdomain at mailgun. So if you used `mg.yourdomain.com` as the mailgun subdomain, then your email in the config should be something like `admin_email@mg.yourdomain.com`. They have fixed this in anymail already, however, they have not made a release since they fixed this.

[2016-09-14 02:35] cunhuvan commented on #790
@jangeador : I tried: DJANGO_ADMIN_URL=^admin/ still not work.

[2016-09-14 02:38] jangeador commented on #790
Any errors? Can you log in to the regular site?

[2016-09-14 03:11] cunhuvan commented on #790
on browser: Server Error (500)
on terminal: nginx_1         | 116.98.26.54 - - [14/Sep/2016:03:11:23 +0000] "GET /admin/login/?next=/admin/ HTTP/1.1" 500 38 "-" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:48.0) Gecko/20100101 Firefox/48.0" "-"

[2016-09-14 03:15] jangeador commented on #790
That error 500 could be anything. Since you are running docker it would be really easy to see logs. Just docker-compose up on the docket-machine terminal and then look at the output. It should display the real error.

[2016-09-14 03:49] cunhuvan commented on #790
nginx_1         | 116.98.26.54 - - [14/Sep/2016:03:11:23 +0000] "GET /admin/login/?next=/admin/ HTTP/1.1" 500 38 "-" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:48.0) Gecko/20100101 Firefox/48.0" "-"

Only this show on Docker-machine terminal

[2016-09-14 04:24] jangeador commented on #790
I was hoping the django_1 machine would display the error. If you have your email configured you should be getting an email with the error. Please configure a real address as the admin in the config file and you should get an email with the error. One of the most common problems with this is the incorrect setting in allowed hosts. You might want to check that.

[2016-09-14 04:49] cunhuvan commented on #790
in this site: https://cookiecutter-django.readthedocs.io/en/latest/settings.html
i saw DJANGO_ADMIN_URL in Production Default is: raises error.
anyidea?

[2016-09-14 15:40] yunti opened #791 "Missing template account/snippets/already_logged_in.html"
From the password reset form the already logged in template looks to be missing.  Was this just omitted in error from django allauth or is there another reason?

[2016-09-14 17:01] pydanny commented on #791
It's not included because there's no reason for us to override what django-allauth provides via https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/snippets/already_logged_in.html. Bootstrap won't break on paragraph or strong tags.

If an error is being thrown, or formatting is off, please reopen.

[2016-09-14 17:01] #791 closed

[2016-09-14 17:54] jangeador commented on #790
The documentation states that it raises error as a production default because it is not present and the configuration will look for it. You already define it in your `.env` file so it should not raise an error because it finds it there.

[2016-09-14 17:58] jangeador commented on #784
So what is next @ssteinerx ? Do you need any help ?

[2016-09-14 18:20] yunti commented on #791
Good point! Thanks..

[2016-09-14 19:17] ssteinerx commented on #784
I wanted to let this sit a bit as I work on an actual project based on the cookiecutter-django layout in which I need to use React.

[2016-09-15 01:52] willemarcel opened #792 "add LocaleMiddleware"
The settings comes with `USE_I18N` and `USE_L10N` set as `True`, but we need to add `'django.middleware.locale.LocaleMiddleware'` to make the localization and internationalization work.

Is there any reason why the `LocaleMiddleware` isn't in the `MIDDLEWARE_CLASSES` by default?

[2016-09-15 11:02] ssteinerx opened #794 "Pycharm run configurations all start with "Docker" but none of them actually use it"
I get this when trying the "run" button from the Docker tab:

[code]

When I run/debug from the top bar (where you can select the configuration to run), it just runs the regular local `manage.py runserver` command.

I've never used Docker from within PyCharm, so I'm not clear on how this is supposed to work, but the configurations do not seem properly named at least.

[2016-09-16 11:33] ssteinerx commented on #186
@luzfcb @pydanny  As per my discussions vis-à-vis Heroku, we should remove checkbox 4 as specific Heroku support is not something we want to get into in the main project any more.

[2016-09-16 11:43] ssteinerx opened #797 "Start using GitHub's new "Projects" interface for e.g. Django 1.10 upgrade"
@pydanny, @audreyr, @luzfcb, @jayfk

The new GitHub "Projects" interface incorporates many great workflow improvements like Trello-like drag'n'drop backlog etc. type boards.  In a traditional "Agile" type workflow, bugs to be worked on in a "Sprint" go into a "backlog", get assigned, flagged as "Passes Tests", "100% Coverage", "Ready for code review", "Ready to merge",  "Done" type workflow and it

[2016-09-16 12:55] ssteinerx opened #798 "Having non-bug-fix, Django 1.10 related commits going to master is confusing"
There is currently a  [Django 1.10](https://github.com/pydanny/cookiecutter-django/tree/wip-migrate-to-django-1.10) branch open that is specifically related to updating to Django to 1.10.

Unfortunately, bug fixes and changes e.g. [removed django-coverage-plugin until it's ready for 1.10](https://github.com/pydanny/cookiecutter-django/commit/6a9ec57bf59598043207f91fe09121d4505b3202) that are Djang

[2016-09-16 13:27] jayfk commented on #797
I've created one here: https://github.com/pydanny/cookiecutter-django/projects/1

It's just horrible.

[2016-09-16 16:01] ssteinerx commented on #797
@jayfk Glad to hear you like it! ;-).

I think "Project" means something like "Update to Django 1.10", then you put tickets into the backlog that need to be done to get to "done" in that project.

Can't say I've used it a whole lot, I've actually been using the ZenHub for GitHub Chrome extension which has a whole bunch of extra improvements and is free for open source repos.

[2016-09-16 17:29] ameistad commented on #703
I don't think raven (Sentry) is ready for 1.10 just yet.
https://github.com/getsentry/raven-python/issues/858 and https://github.com/getsentry/raven-python/pull/860

[2016-09-16 18:20] audreyr commented on #798
OK, thanks for pointing this out.

FYI, I made a minor change in da42b3854d85b1df42c67e4e5f3d9131aacecd2c to `config/settings/test.py` in master just now to resolve a Django 1.9 django-coverage-plugin misconfiguration issue. That change does not apply to 1.10 if we are removing the package but would be good to have in our last 1.9 branch.

[2016-09-16 18:22] Afrowave commented on #788
It is the default mail engine that one can use. In the config/production.py, one would use Anymail with Mailgun like so:

    # Anymail
    ANYMAIL = {
        "MAILGUN_API_KEY": "env('DJANGO_MAILGUN_API_KEY')",
    }
    ANYMAIL["MAILGUN_API_KEY"] = env('DJANGO_MAILGUN_API_KEY')
    EMAIL_BACKEND = "anymail.backends.mailgun.MailgunBackend"

    DEFAULT_FROM_EMAIL = "postmaster@mg.mailgun.com"

Th

[2016-09-16 18:48] audreyr commented on #798
Oops, changing that back, just saw the package was removed before I made that change. Sorry about that.

[2016-09-17 00:36] ssteinerx commented on #798
@audreyr  You just pointed out a change that exactly fits this.  Instead of removing the broken module on the Django 1.10 branch, it was prematurely removed on the current 1.9 branch so someone wanting the "latest, greatest (tagged) 1.9 branch" would have had a useful feature removed only because of a compatibility issue with Django 1.10.

[2016-09-17 00:40] ssteinerx commented on #798
Each release branch should also have a corresponding e.g. 1.9-dev branch so that untested, failed test creating, or unapproved for merge have a place to live before being veteded, tested, approved, and finally merged.  A new feature proposed on 1.9 would then branch from 1.9-dev, then be put on its own branch e.g. 1.9-dev-update-some-plugin.  When it was ready, it would be rebased from 1.9-dev, re

[2016-09-17 11:58] ssteinerx commented on #788
I don't have a solution to this ATM, but this project has a unique constraint in that it is tied to a particular Django release, so sticking with strict semver seems a bit counter-intuitive.

If there was a switched version of something leading to a backwards-incompatible change, semver rules should have forced a semver Major Version change:

But how do you do that when:

[2016-09-17 12:11] ssteinerx opened #800 "Please make a new tag for "Project Organization" or somesuch for discussion tickets"
There have been several tickets lately discussing "Project Organization" or "best practices" etc.

Specifically, #800, #797, #784, #782.

In my opinion they need to be pulled out or tagged somehow.  They're not really "issues", more along the line of discussions about how to better organize the project.

Either a tag, or moving them to the wiki would be helpful, methinks.

Once there's agreement o

[2016-09-17 20:14] microspace commented on #500
Please, help me how to serve multiple apps from one host. For me deleting "ports" also doesn't work.
I have nginx-proxy and couple of django projects running inside containters. I want to add cookiecutter-django based site to my host. I still get 503 error and no logs to look at

[2016-09-17 20:15] microspace commented on #500
I promise to contribute to docs on this topic

[2016-09-17 21:30] TidyData opened #801 "pytest default"
pytest is already a dependency but I cannot find a conftest.py to help configure the pytest.

I appreciate how transcode includes
https://github.com/transcode-de/cookiecutter-django-project/raw/master/%7B%7B%20cookiecutter.repo_name%20%7D%7D/tests/conftest.py

specifically the "pytest_runtest_setup" function seems a good idea.  If I create a pull request could the conftest and some useful basic fi

[2016-09-18 06:31] Egregors commented on #380
@pydanny Hi. I am getting absolutely the same issues.
@hasancansaral did you find the solve for this problem?

[2016-09-18 06:33] microspace opened #802 "Multiple apps per host"
I want to reopen #500 issue. How to lauch multiple apps?
I have nginx-proxy and a django site running. I want to add this cookiecutter-django site to the host

[2016-09-18 08:02] hasancansaral commented on #380
Unfortunately, no.

I am using `docker-machine` to provision my host machine and restarting it with `docker-machine restart` helps. But that does mean downtime, it kills all the containers, and IMO shouldn't be necessary. Still trying to replicate, but for the moment it looks like it occurs randomly. @pydanny I believe this issue should be open. Thanks.

[2016-09-18 10:07] cunhuvan commented on #790
I'm newbie and just finish config raven to see Error message. This is my problem:
![error](https://cloud.githubusercontent.com/assets/11598929/18614902/35d29ef4-7dc2-11e6-9611-41cf6791a1a4.png)
please help me!

[2016-09-18 12:32] ssteinerx commented on #802
@pydanny This has come up a couple of times in the last couple of days.

Nginx setup is a whole 'nuther kettle of fish.

I think we need to think seriously about pulling deployment under various scenarios out of "things that we can support within the scope of cookiecutter-django itself" as the non-Django aspects of the project consume *way* more bandwidth than anything actually related to Django o

[2016-09-18 12:38] ssteinerx commented on #380
@jayfk, @pydanny, see  #802.

[2016-09-18 14:13] microspace commented on #802
I agree with you. Please, consider my words as shouts of despair. I'm happy that you answered at all.

Concerning the issue: I've deleted your nginx.conf, and put projects config into `sites-enabled` directory.

[2016-09-18 16:07] microspace commented on #802
Is it true that when I use nginx-proxy with django cookiecutter, I have nginx behind nginx?

[2016-09-18 19:14] ssteinerx commented on #802
@microspace Using nginx as a proxy means that requests that should be handled by e.g. Gunicorn are sent to Gunicorn on the port on which it's listening.

So, for example, a request for "http://mydomain.com/home" on the usual port 80 ashould be handled by the Django app using Guinicorn running on port 8000, so nginix sends the request to port 8000, then returns the response from Gunicorn as if Guni

[2016-09-18 21:09] jayfk commented on #802
Yeah, you can configure it this way.

But honestly, as @ssteinerx says, this is way out of scope for Cookiecutter Django. There are much better ways to find people to chat about deploying and running Django apps. Check out the #django IRC channel on freenode, or stackoverflow (there's even a `cookiecutter-django` tag).

[2016-09-18 21:09] #802 closed

[2016-09-18 21:18] microspace commented on #802
Thank you for your responses!
Docker gave me layer of complexity in deploying apps. I've reconfigured my server without docker already.

[2016-09-18 22:06] jayfk commented on #798
I don't want to curb your enthusiasm, but a lot of changes are coming from *outside* contributors. Isn't this a bit much to swallow?

[2016-09-18 22:15] ssteinerx commented on #798
There is nothing preventing a core contributor merging an outside contribution to the correct branch instead of `master`.

I'd rather swallow a bit harder during development than choke at release.

[2016-09-18 22:31] jayfk commented on #798
There are no classical releases in Cookiecutter Django. Every commit (or a series or commits that are merged back to master) are individual releases. Either adding a feature, or removing it. Every PR that gets merged into master has to produce a fully functional template.

Don't get me wrong, approaches like yours are great in general for larger teams working on larger projects doing actual releas

[2016-09-19 01:18] ssteinerx commented on #798
@jayfk I understand but, for example, a perfectly lovely Django 1.9.x coverage module got pulled from the Django 1.9 release branch the other day because it wasn't compatible with 1.10.

And then @audreyr  made a change to fix a 1.9.x issue that no longer existed 'cause the module was gone. That doesn't make any sense to me.

When 1.10 is out, the last tagged 1.9.x should be the best it could be,

[2016-09-19 07:44] zmrenwu commented on #707
Me too. And I have two problem.
1. _pycharm_1 exited with code 0
2. can't open file 'manage.py': [Errno 2] No such file or directory

With python3.5 django1.9.9 windows10 docker1.12.1 pycharm2016.2.2 cookiecutter1.4.0

[2016-09-19 07:45] jayfk commented on #707
Any idea @noisy ?

[2016-09-19 13:31] noisy commented on #707
@jayfk I will try to investigate that.

[2016-09-19 15:09] zmrenwu commented on #707
Thank all of you! I give some detail about what I have do. First I follow the docs of cookiecutter to generate a project template with using docker and didn't change anything. Then I follow the docs of docker and install the lastest stable release version on windows10. Finally, with every thing setted, I run docker-compose -f dev.yml build to build the container,and run up command to start the con

[2016-09-19 16:51] pydanny commented on #798
Right now we're under some curious conditions that has made shepherding the differences in versions a bit more challenging and hence confusing for contributors.

1. The upgrade to Django 1.10 has taken longer than any other upgrade, including going from 1.6 to 1.7.
2. For personal and work reasons, right now my personal schedule (and some of the other core devs) has been completely clobbered.

Goi

[2016-09-19 17:32] yunti opened #806 "Using wizard for multiple form signup"
It's not clear from the docs and the user app what's the best approach to integrate using django wizard with a multi form signup is? I've created a separate view inheriting from `SessionWizardView`, but how should this be integrated with cookiecutter and django allauth without losing their existing setup (eg redirecting via RedirectAuthenticatedUserMixin etc..)

[2016-09-19 18:01] audreyr opened #807 "Fix indentation in nginx.conf"
https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/compose/nginx/nginx.conf contains a mix of tabs and spaces, I think. Or maybe they're tabs, just misaligned.

Either way, it would be good for them to be consistently aligned.

[2016-09-19 18:14] audreyr commented on #800
Good idea, tagging them now.

[2016-09-19 18:15] #800 closed

[2016-09-19 18:35] pydanny commented on #806
There are so many variations of how signup could work that we can't possibly address this in Cookiecutter Django. My apologies, it's out of scope.

That said, if you figure out your preferred way of doing things, and write an article about it, we would be honored to have a link to it.

[2016-09-19 18:35] #806 closed

[2016-09-19 18:39] pydanny commented on #790
If you have not defined `DJANGO_ADMIN_URL` in your .env file, then Django will crash.

Fix this and then start looking into other things. Deployment, like debugging, is a process of elimination.

[2016-09-20 00:33] jhancia commented on #703
I may be missing something, but it looks like django-storages-redux is "now released on PyPI as **django-storages"** as of 2-7-2016 (see  https://github.com/jschneier/django-storages/blob/master/CHANGELOG.rst).  So our requirements/production for this should now list  django-storages==1.5.1

[2016-09-20 00:37] luzfcb commented on #703
@jhancia thank you, I really had not seen it.

[2016-09-20 05:17] jangeador commented on #790
That error is a dns problem, but since you are using docker, it's most likely a problem with docker and the way the containers are being built. Did you make any modifications to the docker files? What version of docker and docker-compose are you running? What is the OS of your production server? What command are you using to build and spin up your docker containers?

[2016-09-20 06:12] Egregors opened #809 "Local media storage for production with docker and lets encrypt"
Hi! This project is absolutely amazing! I have a working service based this project (docker, py3, lets-encrypt). But I have an issue with S3 media storage (specific for region).

Can you help me please, How can I configure nginx-secure.conf, urls.py, production.py (something else?) for storing media files locally in a docker volume, and serve it by Nginx over https?

[2016-09-20 17:01] pydanny commented on #809
Apologies @Egregors, but providing instructions for file hosting in a docker volume is out of scope for this project. We insist on hosting media on third-party CDNs, or via Whitenoise (for simple efforts). If s3 isn't an option, then there are any number of alternatives (Azure, Libcloud, etc) supported by [django-storages](https://django-storages.readthedocs.io/en/latest/).

[2016-09-20 17:01] #809 closed

[2016-09-20 17:11] pydanny commented on #801
If you use their code, you need to include the same license statement file in your project (unless your project already has a compatible version of the license). It's also very polite to credit them in a comment within the `conftest.py` code, but not necessary.

[2016-09-20 18:19] #301 closed

[2016-09-20 18:20] #529 closed

[2016-09-20 20:17] ssteinerx opened #810 "I would propose adding a test to ensure that generated app is 100% test covered"
As per a note on the Django 1.10 release, pulling out into its own issue.

I'm more concerned about testing our claim of "generating a Django project that has 100% test coverage out of the box."

IOW, not cookiecutter-django itself, but the project generated therefrom.

So, as part of the tests, we generate a project, then ensure that *it* has 100% test coverage.

[2016-09-20 20:22] ssteinerx commented on #301
@pydanny I think this is a completely different thing.  This is talking about using e.g. webpack or bower to manage dependencies.  So, for example, if you select "Use Bootstrap" during project generation, the dependency would be injected into the bower/webpack/etc. config file rather than being pulled in manually.  This is a whole 'nuther kettle of fish than just pinning dependencies and really ne

[2016-09-20 20:52] cdvv7788 opened #811 "Provide default password validators"
By default we can set about any password on our projects. This can be restricted with [password validation](https://docs.djangoproject.com/en/1.10/topics/auth/passwords/#module-django.contrib.auth.password_validation). I don't think that it is a bad idea to add a couple of these validators by default, at least in config.settings.production.

[2016-09-20 21:19] jayfk commented on #811
That's coming with the 1.10 release, see https://github.com/pydanny/cookiecutter-django/pull/793.

[2016-09-20 21:19] #811 closed

[2016-09-20 21:27] jayfk commented on #794
Have you checked out https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/docs/pycharm/configuration.rst?

[2016-09-20 21:28] jayfk commented on #792
Thanks for the heads up, it's coming with 1.10: #793.

[2016-09-20 21:28] #792 closed

[2016-09-20 22:31] ssteinerx commented on #637
@jayfk  Is this now moot since the webpack/react extravaganza has been removed from the main project?

[2016-09-21 02:34] #762 closed

[2016-09-22 11:44] yunti commented on #806
thanks I understand there has to be a line drawn somewhere. Got a solution mainly using the wizard to replace the signup view, with some slight alterations to keep the benefit of allauth.  Article is a good idea, I'll certainly do a link when it's done.
Thanks

[2016-09-22 18:22] jangeador opened #815 "Update to new anymail 0.5 and document the usage of MAILGUN_SENDER_DOMAIN"
With the old anymail there isn't a way to send emails from other domains other than those specified in mailgun. The new `MAILGUN_SENDER_DOMAIN` setting allows users to have a domain configured in mailgun such as `mg.example.com`, and then use other domains to send mail from such as `example.com` or even `othermail.example.com`.

Update to the new release of anymail 0.5 and document the new setting

[2016-09-23 02:31] cunhuvan commented on #790
@pydanny, @jangeador: Thanks for your support. That's postgres container problem. It was stop. Everything ok right now. Thanks all!

[2016-09-23 02:31] #790 closed

[2016-09-23 11:13] ssteinerx opened #818 "Add django-autoslug (removed for 1.10) to requirements_to_watch.txt"
Add to requirements_to_watch.txt to ensure that pyup-bot notifies us of 1.10 compatible update.

Also, any other removed not-ready-for-1.10 plugins.

[2016-09-24 22:57] mekhami opened #819 "EB Setup process fails on ebsetenv"
I created a brand new project and followed the deployment steps for the new experimental EB setup. When I get to the point in the docs where you call `python ebsetenv.py` it fails because... I currently don't have a .env file. Is there supposed to be one that was generated by the cookiecutter or EB deployment process? If not, we should mark this as either optional in the docs, or guide the user on

[2016-09-24 23:19] mekhami commented on #819
I also received this error after setting up the basic env settings:
[code]

[2016-09-26 16:28] #819 closed

[2016-09-28 12:31] ssteinerx opened #822 "Would someone please add Django 1.9.x and Django 1.10 Milestones?"
The Django 1.10 release seems like it's really close or *it might be ready* to go!  Hard tellin'.

Would someone please make a Django 1.9.x Milestone and a separate Django 1.10 Milestone to include Issues that must be completed before tagging 1.9.x Release (latest is 1.8.7), and making the 1.10 Release?

I can't see if there are any Issues holding up the  1.10 Release.  Going through the ones I kn

[2016-09-29 04:54] luzfcb commented on #815
fixed in https://github.com/pydanny/cookiecutter-django/commit/3d25befb3f43d8965816376a4e64b868e0db6f6d

[2016-09-29 04:54] #815 closed

[2016-09-29 04:59] luzfcb commented on #781
fixed in https://github.com/pydanny/cookiecutter-django/commit/37138c938d350c7c18cb846937d4813154e89d76

[2016-09-29 04:59] #781 closed

[2016-09-29 04:59] luzfcb commented on #781
thanks @ssteinerx :+1:

[2016-09-29 05:15] luzfcb commented on #807
fixed in https://github.com/pydanny/cookiecutter-django/commit/a4884bb5d76f49f823361eac12cd905d82ea2313

[2016-09-29 05:15] #807 closed

[2016-09-29 14:19] chromakey opened #827 "Middleware Errors on New Project"
Generated a brand new project this morning using master.  Installed requirements and ran the initial migrations.  No changes were made to the generated code.  Wondering if this error might be related to this PR which was merged about 10 hours ago: https://github.com/pydanny/cookiecutter-django/pull/793.

Thank you everyone for your work on this great project.

[code]

Project Settings:
[code]

[2016-09-29 14:37] ssteinerx commented on #827
The MIDDLEWARE setting is Django 1.10 only, so, yes.

The Django 1.10 branch is being created on the `master` branch and has now gotten to the point where the 1.9.x version of Django installed by the requirements is no longer compatible with the changes introduced for Django 1.10.

If you use the latest [1.9 tagged release](https://github.com/pydanny/cookiecutter-django/releases/tag/1.9.9-05) it *

[2016-09-29 14:42] ssteinerx commented on #827
From Django 1.10 release notes:

MIDDLEWARE_CLASSES¶

Deprecated since version 1.10:
Old-style middleware that uses settings.MIDDLEWARE_CLASSES are deprecated. Adapt old, custom middleware and use the MIDDLEWARE setting.
Default:

[
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
]
A list of middleware classes to use. This was the default setting u

[2016-09-29 14:43] chromakey commented on #827
The requirements file on the master branch currently lists Django==1.10.1 so I think it shouldn't be a 1.9.x issue here?

[2016-09-29 14:47] luzfcb commented on #827
@chromakey is a new project? I'm trying to reproduce the error based on you cookiecutter configs.

to the error described occurs, which command you executed?

[2016-09-29 14:50] chromakey commented on #827
Brand new project.  Created it running this:

`cookiecutter https://github.com/pydanny/cookiecutter-django`

After installing the requirements and doing the migration, I ran the project with this

`python manage.py runserver`

PostgreSQL database if it matters.

[2016-09-29 15:06] ssteinerx commented on #827
@chromakey Are you in a virtualenv and could you run:

`pip list`

[2016-09-29 15:08] chromakey commented on #827
[code]

[2016-09-29 15:09] jayfk commented on #827
That looks right.

[2016-09-29 15:12] ssteinerx commented on #827
I got this on migration (running on py2.7, but said "use python3: y" as @chromakey did.

I know that's wrong, but it happened...

[code]

[2016-09-29 15:14] chromakey commented on #827
I received that warning as well @ssteinerx but I didn't include it in the traceback.

[2016-09-29 15:14] ssteinerx commented on #827
Is there both a `MIDDLEWARE` and `MIDDLEWARE_CLASSES` being pulled in?

[2016-09-29 15:16] luzfcb commented on #827
@chromakey @jayfk I can confirm the error.

[2016-09-29 15:20] ssteinerx commented on #827
There does not seem to be an instance of `MIDDLEWARE_CLASSES` in the generated app:

[code]

[2016-09-29 15:21] chromakey commented on #827
I think I found the issue.  It's with django-debug-toolbar.  Commenting it out in the configuration seems to get everything to work.  I found this recently merged PR:

https://github.com/jazzband/django-debug-toolbar/pull/879

It looks like pypi hasn't been updated yet to reflect the merged changes.

[2016-09-29 16:01] ssteinerx commented on #822
I give up.

[2016-09-29 16:01] #822 closed

[2016-09-29 16:08] ssteinerx commented on #827
#810

[2016-09-29 16:16] luzfcb commented on #818
fixed in https://github.com/pydanny/cookiecutter-django/commit/5815865703a8e2062d262989083f211e278e8231

[2016-09-29 16:16] #818 closed

[2016-09-29 16:28] luzfcb commented on #827
@chromakey please test the branch `fix-debug-toolbar-issue-827`

[code]
after that, create a new clean virtualenv and load, and inside the created project, run:

[code]

[2016-09-29 16:34] chromakey commented on #827
@luzfcb using your instructions above I was able to get it to run successfully with no additional changes.

[2016-09-29 19:25] luzfcb commented on #827
fixed in https://github.com/pydanny/cookiecutter-django/commit/cbb132cdec270d3814d8356eda24c5a8fdb53d95

[2016-09-29 19:25] #827 closed

[2016-09-30 18:37] yunti opened #830 "license choice causes jinja2 TemplateSyntax Error"
After picking:
[code]

I get the following error:
[code]

The issue seems to be in the LICENSE file but I'm not clear why it's failing, does their need to be an import to use the now tag?  Hmm not solved by updating cookiecutter that doesn't seem to have inbuilt support for now tag.

[2016-09-30 18:48] luzfcb commented on #830
@yunti update the cookiecutter version to >= 1.4.0 and try again.

[code]
if it works, please close this issue.

[2016-09-30 20:20] yunti commented on #830
Fixed thanks

[2016-09-30 20:20] #830 closed

[2016-09-30 20:35] luzfcb commented on #830
:+1: :smile_cat:

[2016-10-04 01:26] nueverest opened #837 "Zurb Foundation"
It would be nice to be able to choose between Zurb Foundation http://foundation.zurb.com and Bootstrap.

[2016-10-04 12:08] Parbhat commented on #837
You can try [Cookiecutter Django Foundation](https://github.com/Parbhat/cookiecutter-django-foundation), which combines Cookiecutter Django with Zurb Foundation 6 framework.

[2016-10-04 15:04] pydanny commented on #837
@parbhat, Looks awesome. I'm going to link to that from our README :smile:

[2016-10-04 15:04] #837 closed

[2016-10-05 13:55] jayfk commented on #784
@ssteinerx I'd like to work with you on this. I'm about to deploy a Django project with channels support. I think that'd be a good fit for a `flux`/`mixin`/`plugin`.

What do you think?

[2016-10-05 13:57] jayfk opened #839 "Trap runserver in an endless loop on docker during dev"

[2016-10-05 15:11] ssteinerx commented on #784
@jayfk Love to!  I've also got a project in the same state.  This would be a great time to get the basic structure in for a flux (reconsidering that due to React Flux)/ mixin/ plugin.  Maybe it should just be called Django-chips (like chocolate chips, but for cookiecutter-django)?

[2016-10-05 20:28] pydanny commented on #839
Why?

[2016-10-06 00:58] ssteinerx commented on #839
I he might be asking for automatic server restart after dev crash with e.g. supervisor?

[2016-10-06 02:05] jayfk commented on #839
Exactly. There are some errors where runserver fails to recover automatically. This means you have to restart the django container manually by switching the terminal, or bringing down the whole stack and restart it.

[2016-10-07 20:44] pydanny commented on #703
Closing as resolved

[2016-10-07 20:44] #703 closed

[2016-10-07 20:50] #711 closed

[2016-10-07 20:50] pydanny commented on #774
Closing

[2016-10-07 20:50] #774 closed

[2016-10-07 20:52] pydanny commented on #623
Considering this resolved via AWS region selection. If this is not the case, please re-open.

[2016-10-07 20:52] #623 closed

[2016-10-07 20:52] #558 closed

[2016-10-07 20:55] pydanny commented on #779
Done in 85756b7

[2016-10-07 20:55] #779 closed

[2016-10-07 20:57] #637 closed

[2016-10-07 21:00] pydanny commented on #561
Closing this as it's unlikely anyone will step up for this kind of commitment.

[2016-10-07 21:00] #561 closed

[2016-10-08 08:27] mimischi opened #841 "psycopg2 not installed with Windows 10 + Docker"
The current setup does not generate a working project on Windows 10 with Docker for Windows. Basically the requirements/base.txt file checks whether Windows 10 is used or not. If it is used, then it will not include psycopg2 in the requirements (see [here](https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/requirements/base.txt#L33-L39)):

[code]

This

[2016-10-09 10:01] dmarcelino commented on #490
I'm guessing that for an Ubuntu system the [`~/.pam_environment`](https://help.ubuntu.com/community/EnvironmentVariables#A.2BAH4-.2F.pam_environment) would be a good candidate for setting the variables in alternative to `.env`?

[2016-10-09 13:25] ssteinerx commented on #841
I think that the documentation should be updated to specifically say this if it doesn't, and some sort of error message should come out of the build process if it doesn't.

@mimischi Did you see a place in the docs where this should be mentioned and, if so, could you write what you would have expected to see there and submit a pull request?

Since this `%if` is in the requirements.txt generation,

[2016-10-09 21:45] rm-- opened #843 "Upgrade django-debug-toolbar to 1.6"
There was a problem with `django-debug-toolbar`(see #827 for details).
A new version of [django-debug-toolbar was released](https://github.com/jazzband/django-debug-toolbar/releases/tag/1.6) and the problem described in issue #827 don't occurs anymore.
Thus the version can be upgraded.

I created a pull request to upgrade the version to 1.6 and removed the comment made in #828.

[2016-10-10 15:39] #843 closed

[2016-10-11 07:19] mimischi commented on #841
The best place would probably be directly under the Prerequisites [here](https://cookiecutter-django.readthedocs.io/en/latest/developing-locally-docker.html). I'll make a pull-request.

I see one major problem with including another if in the base.txt file:

What if I'm using Windows and say `yes` to Docker, but actually want to develop in an local environment without it? This would yield an error

[2016-10-12 13:25] valerymelou opened #847 "Keep automatically generated static files in version control?"
I noticed that automatically generated static files of the generated project are tracked by Git. Is this intended? If not I think we should keep them out of the version control system. If yes, please I would like to know why.

[2016-10-12 13:45] luzfcb commented on #847
@valerymelou thanks to report.

fixed in https://github.com/pydanny/cookiecutter-django/commit/3b3e53b57bfb4b1fe2e7a7b1c3b0cf7865354bd7

[2016-10-12 13:45] #847 closed

[2016-10-12 14:20] valerymelou commented on #847
Cool. What about files generated in the static folder by Grunt or Gulp? They are also tracked by the version control even though they can be automatically generated from Sass and JavaScript sources.

[2016-10-12 15:58] jangeador commented on #847
We need those there for deployment branches, at least in my case. I make all the development changes in the dev machine and I commit the generated files to my production branch. I really don't want to have this project depend on having node installed on the production server.

[2016-10-13 01:44] valerymelou commented on #847
It's true that I have been dealing with that in a different way. So I guess it's just me noticing this. Closing the issue. Thanks guys.

[2016-10-14 01:57] jhancia opened #850 "Use Argon2 Password Hasher?"
Hello, noticed that the Django 1.10 docs recommend to use the Argon2 password hasher rather than the defaults.  Any thoughts on using this?  Apparently it requires an additional 3rd party library.  See [here](https://docs.djangoproject.com/en/1.10/releases/1.10/#django-contrib-auth) and [here](https://docs.djangoproject.com/en/1.10/topics/auth/passwords/#argon2-usage)

[2016-10-14 06:14] pydanny commented on #850
I'm very excited to include Argon2, but the [installation path is a bit worrisome](https://argon2-cffi.readthedocs.io/en/stable/installation.html#installation). According to the docs (linked above), recent `pip` and `setuptools` should account for any problems. That's wonderful, and I really respect the maintainer's efforts, but sometimes things can go haywire (especially when dealing with closed-

[2016-10-14 06:28] hynek commented on #850
I think that ship has sailed once Django added and endorsed it. :)  As with Python 3, once Django encourage something, things tend to start moving.

FWIW, Windows is least of my concerns since it‘s shipping wheels from day 1 (for exactly those reasons; I knew I could rather work out building wheels than supporting people building a C extension).

So sure, go for it.

[2016-10-14 06:30] pydanny commented on #850
Thanks for the response @hynek. 😄

@jhancia, did you want to put together a pull request?

[2016-10-15 03:19] jhancia commented on #850
Sure, I can give it a go.

[2016-10-17 21:01] shireenrao opened #852 "link to html5shiv in base.html no longer exists"
In the file https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/%7B%7Bcookiecutter.project_slug%7D%7D/templates/base.html the link pointing to html5shiv no longer exists -

[2016-10-17 21:14] pydanny commented on #852
Want to submit a pull request removing it?

[2016-10-17 21:21] shireenrao commented on #852
My only concern is for code in the project which maybe referencing it. I don't know the library. The reason I found this issue was because for local development, I was changing the reference for any external css or javascript to local files. I will submit a pull request removing the link.

[2016-10-17 21:28] luzfcb commented on #852
Please, change to
https://cdnjs.com/libraries/html5shiv

html5shiv.min.js

--

Fábio C. Barrionuevo da Luz
Palmas - Tocantins - Brasil - América do Sul

http://pythonclub.com.br/

Blog colaborativo sobre Python e tecnologias Relacionadas, mantido
totalmente no https://github.com/pythonclub/pythonclub.github.io .

Todos são livres para publicar. É só fazer fork, escrever sua postagem e
mandar o pul

[2016-10-17 21:40] shireenrao commented on #852
Oops.. Sorry.. Will fix the pull request.

[2016-10-19 15:52] pydanny commented on #852
Merged.

[2016-10-19 15:52] #852 closed

[2016-10-20 09:15] thaxy opened #860 "Setup error"
[code]

[2016-10-20 09:16] jayfk commented on #860
https://github.com/pydanny/cookiecutter-django/issues/721

[2016-10-20 09:16] #860 closed

[2016-10-20 09:18] thaxy commented on #860
Meh thanks for the support and sorry ;)

[2016-10-20 13:17] HintikkaKimmo commented on #794
@jayfk Thanks for that got me connected to the Docker VM, now this is more of a Pycharm thing but I still have issues. I can see .idea/RunConfigurations on my project, but none of the run actions is available. In fact, Pycharm does not seem to recognise any run actions from cookiecutter generated docker project.

[2016-10-20 13:34] HintikkaKimmo commented on #794
Ah, this once was easy. Cookiecutter made a second .idea folder within the idea folder as I already had this location open in Pycharm. Just moving the files fixed this.

[2016-10-22 22:36] oesah opened #862 "Error: object() takes no parameters with docker-compose up [--build]"
Big trouble and I can't seem to find the solution. I installed Cookiecutter with Docker option. Now that I want to push it to production and get it running, I get the following error on production server with Ubuntu on Digital Ocean:

[code]

I spent several  hours on it now, but I cannot find the problem. Any suggestions? Do you need more Info?

[2016-10-23 16:49] luzfcb commented on #862
@oesah you include some additional django app in the generated project?

what the exact sequence of options you used to generate the project?

this seems to be a problem related to compatibility with the new Django 1.10 Middleware

https://docs.djangoproject.com/en/1.10/topics/http/middleware/

[2016-10-23 18:39] oesah commented on #862
So I tried to get a new, unmodified version running on the server without any third party modules. That worked properly. I found out, that Django Celery and Raven caused some errors. After upgrading Raven to the newest version and excluding celery from the stack, it works. I will investigate further and report here, for people running into the same problems.

[2016-10-24 13:08] hasancansaral commented on #623
@jayfk @pydanny No, it hasn't been resolved via AWS region change. I have tested this in more than one AWS regions, with different instance specs. Can we reopen?

[2016-10-24 22:27] cdvv7788 opened #865 "Changes on celery implementation"
According to [celery docs](http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html#using-celery-with-django):

With that in mind, the fact that the celery setup file is inside of a folder in the path where we hold our apps is a little misleading. It is configured so it discovers tasks with the @shared_task decorator inside of any app, but it is inside of a folder named taskapp,

[2016-10-27 01:11] brentpayne commented on #862
I had the same issue with heroku.  It is an issue with Sentry's middleware in the included raven implimentation.  Change `raven==5.30.0` to `raven==5.31.0`.  I just put in a pull request for this.

[2016-10-27 11:22] oesah commented on #862
Yeah I did, that seemed to fix the issue. Issue can be closed from my side.

[2016-10-27 18:32] yunti opened #869 "Selecting whitenoise still requires AWS setup"
I had selected whitenoise from the django cookiecutter configuration, but when it comes to deploying on heroku I get an improperly configured error if eg `DJANGO_AWS_ACCESS_KEY_ID` isn't set (same with the other AWS envs).  The settings file also outputs `-Use Amazon's S3 for storing static files and uploaded media'  even though the whitenoise middleware look to be properly setup.

[2016-10-28 21:29] Braintelligence commented on #467
Using Docker with PyCharm and running the makemessage command there creates read-only .po-files. What should I do to change this behaviour?

[2016-10-29 02:07] ssteinerx commented on #784
@jayfk I'm about done messing with my prototype and am about to start fresh with a new cookiecutter installation and need to add channels into a brand new project.  Did you ever get started on this?

[2016-10-29 18:07] pydanny commented on #467
@Braintelligence, please don't hijack this issue with a completely separate issue. If you have a distinct problem, please open a new issue.

[2016-10-29 19:44] Braintelligence commented on #467
@pydanny This is strange; I typed this text originally as a new Issue but then decided to not post it at all. Now somehow this got in here and I have no idea why and how. Please ignore it.

[2016-11-01 09:37] sanderl-mediamonks opened #870 "OSX PyCharm integration issue with API URL"
I'm following the instructions in docs/pycharm/configuration.rst, but I'm stuck at the API URL part.

OSX can't connect to a socket so I need a TCP url.

By default there's no docker-machine running. So I tried creating a machine first using docker-machine. Then there is an API available at https://192.168.99.100:2376.

But then I somehow need to setup port forwarding as this machine is not availa

[2016-11-01 10:28] sanderl-mediamonks opened #871 "Why is there no `environ.Env.read_env` call?"
I am wondering how the .env file ever gets read without `environ.Env.read_env`?

Would expect it [here](https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/config/settings/common.py#L18).

[2016-11-02 17:04] pydanny commented on #871
Closed by #863.

[2016-11-02 17:04] #871 closed

[2016-11-02 17:06] pydanny commented on #865
As I'm a huge fan of simplicity, I like your suggestion. That said, let's go query the best person in the world when it comes to Celery and see what they have to say.

Hey @ask, do you want to say anything about having Cookiecutter Django re-architect it's Celery implementation?

[2016-11-02 17:14] pydanny commented on #197
Closing this as I believe it's either been resolved or moot. Please reopen if that is not the case.

[2016-11-02 17:14] #197 closed

[2016-11-02 21:03] #862 closed

[2016-11-03 09:46] jayfk commented on #865
Here's some context on why we choose to implement this differently: https://github.com/pydanny/cookiecutter-django/pull/266

[2016-11-03 14:37] yunti opened #878 "Best way to update site domain and name"
I didn't know the project site domain when first starting the project, which has now changed from that initially specified.   These seem to be set within contrib-site migration.   What's the best way to update these? Manually with a new migration?